<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="d-flex">
        <h4 class="card-title mb-4 flex-grow-1">Ferramentas</h4>
     
      </div>
    </div><!--end col-->
    @for (data of vacancyData; track $index) {
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body p-4">
          <div class="text-center mb-3">
            <img src="{{data.image}}" alt="" class="avatar-sm">
            <a class="text-body" href="javascript: void(0);" (click)="alterDisplay(data.title)">
              <h5 class="mt-4 mb-2 font-size-15">{{data.title}}</h5>
            </a>
            <p class="mb-0 text-muted">{{data.brand}}</p>
          </div>

          <div class="d-flex">
            <p class="mb-0 flex-grow-1 text-muted"><i class="bx bx-map text-body"></i> {{data.location}}</p>
            <p class="mb-0 text-muted"><b>{{data.vacancy}}</b> Vacancy</p>
          </div>
        </div>
      </div><!--end card-->
    </div>}<!--end col-->

  </div><!--end row-->
  <div class="row" [ngClass]="{'d-none': display != 'Universidades'}">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{labelUniversidade}}</h5>
          <p class="card-title-desc">Adicionar Universidades</p>
          <form (ngSubmit)="salvarUniversidade()" [formGroup]="momentForm">
            <div class="form-floating mb-3">
              <input type="text" class="form-control form-control-invalid" formControlName="descricao" name="descricao"
                [(ngModel)]="universidade.descricao" id="floatingnameInput" placeholder="Digite o nome"
                [ngClass]="{'is-invalid': submitted && formUni['descricao'].errors}" />
              <label for="floatingnameInput">Nome</label>
              <div *ngIf="formUni['descricao'].errors && submitted" class="invalid-tooltip">
                <span *ngIf="formUni['descricao'].errors?.['required']">Campo obrigatório.</span>
                <span *ngIf="formUni['descricao'].errors?.['minlength']">
                  O campo deve conter no minimo 2 caracteres
                </span>
                <span *ngIf="formUni['descricao'].errors?.['maxlength']">
                  O campo não deve exceder 50 caracteres
                </span>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="sigla" formControlName="sigla"
                [(ngModel)]="universidade.sigla" [ngClass]="{'is-invalid': submitted && formUni['sigla'].errors}"
                id="floatingemailInput" placeholder="Digite a Sigla" />
              <label for="floatingemailInput">Sigla</label>
              <div *ngIf="formUni['sigla'].errors && submitted" class="invalid-tooltip">
                <span *ngIf="formUni['sigla'].errors?.['required']">Campo obrigatório</span>
                <span *ngIf="formUni['sigla'].errors?.['minlength']">
                  O campo deve conter no minimo 2 caracteres!
                </span>
                <span *ngIf="formUni['sigla'].errors?.['maxlength']">
                  O campo não deve exceder 20 caracteres!
                </span>
              </div>
            </div>
            <div class="d-flex">
              <button type="submit" class="btn btn-primary w-md">Salvar</button>
              <button class="btn btn-info w-md mx-1" (click)="LimparUniversidade()"
                *ngIf="labelUniversidade == 'Editar Universidade'">Novo</button>
            </div>
          </form>
        </div>
        <!-- end card body -->
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Lista de Universidades</h4>
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Mostrar
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    class="form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> </label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                  class="d-inline-flex align-items-center">Pesquisar:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table"></label></div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable"
              class="table table-bordered dt-responsive nowrap datatables no-footer table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th sortable="name">Nome</th>
                  <th sortable="position">Sigla</th>
                  <th>Acção</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                    let data of universidades                
                  ">
                  <td>{{data?.id}}</td>
                  <td>{{data?.descricao}} </td>
                  <td>{{data?.sigla}}</td>
                  <td>
                    <div class="dropdown" dropdown placement="bottom-left">
                      <i class="mdi mdi-dots-vertical dropdown-toggle" dropdownToggle data-toggle="dropdown"
                        aria-expanded="true"></i>
                      <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                        <a class="dropdown-item" href="javascript: void(0);" (click)="EditarUniversidade(data)">
                          <i class="bx bx-edit-alt"></i> Editar</a>
                        <a class="dropdown-item" href="javascript: void(0);" (click)="DeletarUniversidade(data)">
                          <i class="bx bx-trash"></i> Deletar
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Mostrando
                {{propriedadeTabela.inicio}} - {{propriedadeTabela.fim}} de {{propriedadeTabela.total}}
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <pagination>
                </pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" [ngClass]="{'d-none': display != 'Cursos da Instituição'}">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{labelCurso}}</h5>
          <p class="card-title-desc">Adicionar Cursos da Instituições</p>
          <form (ngSubmit)="salvarCurso()" [formGroup]="momentForm">
            <div class="form-floating mb-3">
              <input type="text" class="form-control form-control-invalid" formControlName="descricao" name="descricao"
                [(ngModel)]="curso.descricao" id="floatingnameInput" placeholder="Digite o nome"
                [ngClass]="{'is-invalid': submitted && formUni['descricao'].errors}" />
              <label for="floatingnameInput">Nome</label>
              <div *ngIf="formUni['descricao'].errors && submitted" class="invalid-tooltip">
                <span *ngIf="formUni['descricao'].errors?.['required']">Campo obrigatório.</span>
                <span *ngIf="formUni['descricao'].errors?.['minlength']">
                  O campo deve conter no minimo 2 caracteres
                </span>
                <span *ngIf="formUni['descricao'].errors?.['maxlength']">
                  O campo não deve exceder 50 caracteres
                </span>
              </div>
            </div>
            <div class="d-flex">
              <button type="submit" class="btn btn-primary w-md">Salvar</button>
              <button class="btn btn-info w-md mx-1" (click)="LimparCurso()"
                *ngIf="labelCurso == 'Editar Curso'">Novo</button>
            </div>
          </form>
        </div>
        <!-- end card body -->
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Lista dos Cursos</h4>
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Mostrar
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    class="form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> </label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                  class="d-inline-flex align-items-center">Pesquisar:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table"></label></div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable"
              class="table table-bordered dt-responsive nowrap datatables no-footer table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th sortable="name">Nome</th>
                  <th>Acção</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                    let data of cursos                
                  ">
                  <td>{{data?.id}}</td>
                  <td>{{data?.descricao}}</td>
                  <td>
                    <div class="dropdown" dropdown placement="bottom-left">
                      <i class="mdi mdi-dots-vertical dropdown-toggle" dropdownToggle data-toggle="dropdown"
                        aria-expanded="true"></i>
                      <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                        <a class="dropdown-item" href="javascript: void(0);" (click)="EditarCurso(data)">
                          <i class="bx bx-edit-alt"></i> Editar</a>
                        <a class="dropdown-item" href="javascript: void(0);" (click)="DeletarCurso(data)">
                          <i class="bx bx-trash"></i> Deletar
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Mostrando
                {{propriedadeTabela.inicio}} - {{propriedadeTabela.fim}} de {{propriedadeTabela.total}}
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <pagination>
                </pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" [ngClass]="{'d-none': display != 'Categorias de Livro'}">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{labelCategoria}}</h5>
          <p class="card-title-desc">Adicionar Categoria dos Livros</p>
          <form (ngSubmit)="salvarCategoria()" [formGroup]="momentForm">
            <div class="form-floating mb-3">
              <input type="text" class="form-control form-control-invalid" formControlName="descricao" name="descricao"
                [(ngModel)]="categoria.descricao" id="floatingnameInput" placeholder="Digite o nome"
                [ngClass]="{'is-invalid': submitted && formUni['descricao'].errors}" />
              <label for="floatingnameInput">Nome</label>
              <div *ngIf="formUni['descricao'].errors && submitted" class="invalid-tooltip">
                <span *ngIf="formUni['descricao'].errors?.['required']">Campo obrigatório.</span>
                <span *ngIf="formUni['descricao'].errors?.['minlength']">
                  O campo deve conter no minimo 2 caracteres
                </span>
                <span *ngIf="formUni['descricao'].errors?.['maxlength']">
                  O campo não deve exceder 50 caracteres
                </span>
              </div>
            </div>
            <div class="d-flex">
              <button type="submit" class="btn btn-primary w-md">Salvar</button>
              <button class="btn btn-info w-md mx-1" (click)="LimparCategoria()"
                *ngIf="labelCategoria == 'Editar Categoria'">Novo</button>
            </div>
          </form>
        </div>
        <!-- end card body -->
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Lista dos Categorias</h4>
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Mostrar
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    class="form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> </label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                  class="d-inline-flex align-items-center">Pesquisar:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table"></label></div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable"
              class="table table-bordered dt-responsive nowrap datatables no-footer table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th sortable="name">Nome</th>
                  <th>Acção</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                    let data of categorias                
                  ">
                  <td>{{data?.id}}</td>
                  <td>{{data?.descricao}}</td>
                  <td>
                    <div class="dropdown" dropdown placement="bottom-left">
                      <i class="mdi mdi-dots-vertical dropdown-toggle" dropdownToggle data-toggle="dropdown"
                        aria-expanded="true"></i>
                      <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                        <a class="dropdown-item" href="javascript: void(0);" (click)="EditarCategoria(data)">
                          <i class="bx bx-edit-alt"></i> Editar</a>
                        <a class="dropdown-item" href="javascript: void(0);" (click)="DeletarCategoria(data)">
                          <i class="bx bx-trash"></i> Deletar
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Mostrando
                {{propriedadeTabela.inicio}} - {{propriedadeTabela.fim}} de {{propriedadeTabela.total}}
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <pagination>
                </pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" [ngClass]="{'d-none': display != 'Prateleiras'}">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{labelPrateleira}}</h5>
          <p class="card-title-desc">Adicionar Prateleiras</p>
          <form (ngSubmit)="salvarPrateleira()" [formGroup]="momentForm">
            <div class="form-floating mb-3">
              <input type="text" class="form-control form-control-invalid" formControlName="descricao" name="descricao"
                [(ngModel)]="prateleira.descricao" id="floatingnameInput" placeholder="Digite o nome"
                [ngClass]="{'is-invalid': submitted && formUni['descricao'].errors}" />
              <label for="floatingnameInput">Nome</label>
              <div *ngIf="formUni['descricao'].errors && submitted" class="invalid-tooltip">
                <span *ngIf="formUni['descricao'].errors?.['required']">Campo obrigatório.</span>
                <span *ngIf="formUni['descricao'].errors?.['minlength']">
                  O campo deve conter no minimo 2 caracteres
                </span>
                <span *ngIf="formUni['descricao'].errors?.['maxlength']">
                  O campo não deve exceder 50 caracteres
                </span>
              </div>
            </div>
            <div class="form-floating mb-3">
              <textarea rows="3" class="form-control" name="observacao" formControlName="observacao"
                [(ngModel)]="prateleira.observacao"
                [ngClass]="{'is-invalid': submitted && formUni['observacao'].errors}" id="floatingemailInput"
                placeholder="Digite uma observação">
              </textarea>
              <label for="floatingemailInput">Observação</label>
              <div *ngIf="formUni['observacao'].errors && submitted" class="invalid-tooltip">
                <span *ngIf="formUni['observacao'].errors?.['minlength']">
                  O campo deve conter no minimo 2 caracteres!
                </span>
                <span *ngIf="formUni['observacao'].errors?.['maxlength']">
                  O campo não deve exceder 200 caracteres!
                </span>
              </div>
            </div>
            <div class="d-flex">
              <button type="submit" class="btn btn-primary w-md">Salvar</button>
              <button class="btn btn-info w-md mx-1" (click)="LimparPrateleira()"
                *ngIf="labelPrateleira == 'Editar Prateleira'">Novo</button>
            </div>
          </form>
        </div>
        <!-- end card body -->
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Lista de Prateleiras</h4>
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Mostrar
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    class="form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> </label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                  class="d-inline-flex align-items-center">Pesquisar:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table"></label></div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable"
              class="table table-bordered dt-responsive nowrap datatables no-footer table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th sortable="name">Nome</th>
                  <th sortable="position">Observação</th>
                  <th>Acção</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                    let data of prateleiras                
                  ">
                  <td>{{data?.id}}</td>
                  <td>{{data?.descricao}} </td>
                  <td>{{data?.observacao}}</td>
                  <td>
                    <div class="dropdown" dropdown placement="bottom-left">
                      <i class="mdi mdi-dots-vertical dropdown-toggle" dropdownToggle data-toggle="dropdown"
                        aria-expanded="true"></i>
                      <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                        <a class="dropdown-item" href="javascript: void(0);" (click)="EditarPrateleira(data)">
                          <i class="bx bx-edit-alt"></i> Editar</a>
                        <a class="dropdown-item" href="javascript: void(0);" (click)="DeletarPrateleira(data)">
                          <i class="bx bx-trash"></i> Deletar
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Mostrando
                {{propriedadeTabela.inicio}} - {{propriedadeTabela.fim}} de {{propriedadeTabela.total}}
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <pagination>
                </pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>