<div class="container-fluid">
  <app-page-title
    title="Gerir Pessoas"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row mb-2">
    <div class="col-sm-4">
      <div class="search-box me-2 mb-2 d-inline-block"></div>
      <div class="search-box me-2 mb-2 d-inline-block"></div>
    </div>
    <div class="col-sm-8">
      <div class="text-sm-end">
        <button
          type="button"
          data-bs-toggle="modal"
          (click)="modalFormulario.show(); pessoa = {}"
          class="btn btn-success btn-rounded waves-effect waves-light addContact-modal mb-2"
        >
          <i class="mdi mdi-plus me-1"></i> Nova Pessoa
        </button>
      </div>
    </div>
    <!-- end col-->
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-lg-4 mb-3">
                <label for="formrow-firstname-input"
                  >Codigo do documento
                </label>
                <input
                  [(ngModel)]="filtro.name_code"
                  type="text"
                  name="codigo"
                  class="form-control"
                  id="formrow-firstname-input"
                  placeholder="codigo do documento"
                />
              </div>

              <div class="col-lg-1 mt-4">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="pesquisar()"
                >
                  Pesquisar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- end select2 -->
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <div class="d-flex flex-row-reverse bd-highlight mb-2">
              <div class="p-0 bd-highlight">
                <select
                  (change)="onTableSizeChange($event)"
                  class="form-select"
                >
                  <option *ngFor="let size of tableSizes" [ngValue]="size">
                    {{ size }}
                  </option>
                </select>
              </div>
            </div>

            <table class="table table-sm table-bordered table-hover">
              <thead class="table-info">
                <tr>
                  <th>Item</th>
                  <th>Remetente</th>
                  <th>Assunto</th>
                  <th>Tipo Documento</th>
                  <th>Acesso</th>
                  <th>Via Transferencia</th>
                  <th>Prioridade</th>
                  <th>Acção</th>
                </tr>
              </thead>
              <tbody class="">
                <tr
                  *ngFor="
                    let data of pessoas
                      | paginate
                        : {
                            itemsPerPage: filtro.pagesize,
                            currentPage: filtro.page,
                            totalItems: filtro.total_itens
                          }
                  "
                >
                  <td>{{ data?.codigo_documento }}</td>

                  <td>{{ data?.remetente.substring(0, 30) }}</td>
                  <td>{{ data?.assunto.substring(0, 50) }}</td>

                  <td>{{ data?.gdTipoDocumento?.nome }}</td>
                  <td>{{ data?.gdDocumentoAcesso?.nome }}</td>
                  <td>{{ data?.gdDocumentoViaTransmissoe?.nome }}</td>

                  <td
                    class="text-white"
                    [ngStyle]="{
                      'background-color': data?.gdPrioridadeDocumento?.cor
                    }"
                  >
                    {{ data?.gdPrioridadeDocumento?.nome }}
                  </td>

                  <td>
                    <div dropdown class="dropdown">
                      <a
                        dropdownToggle
                        href="javascript: void(0);"
                        class="dropdown-toggle card-drop px-2 show"
                        aria-expanded="true"
                      >
                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                      </a>
                      <ul
                        *dropdownMenu
                        class="dropdown-menu dropdown-menu-end show"
                        style="
                          position: absolute;
                          inset: 0px 0px auto auto;
                          margin: 0px;
                          transform: translate(0px, 31.25px);
                        "
                        placement="bottom-end"
                      >
                        <li>
                          <a
                            href="javascript:void(0);"
                            (click)="ImprimirTicket(data)"
                            class="dropdown-item edit-list"
                            data-edit-id="8"
                            ><i
                              class="bx bxs-file-pdf font-size-16 text-success me-1"
                            ></i>
                            codigo</a
                          >
                        </li>
                        <li>
                          <a
                            href="javascript:void(0);"
                            (click)="editar(data)"
                            class="dropdown-item edit-list"
                            data-edit-id="8"
                            ><i
                              class="mdi mdi-pencil font-size-16 text-success me-1"
                            ></i>
                            Editar</a
                          >
                        </li>

                        <li>
                          <a
                            href="javascript:void(0);"
                            (click)="removeUser(data.id)"
                            class="dropdown-item remove-list"
                            data-remove-id="8"
                            ><i
                              class="mdi mdi-trash-can font-size-16 text-danger me-1"
                            ></i>
                            Delete</a
                          >
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="mt-3">
              Total: <b>{{ filtro.total_itens }}</b>
            </p>

            <div
              class="pagination pagination-rounded justify-content-center mt-4"
            >
              <pagination-controls
                [responsive]="true"
                previousLabel="Anterior"
                nextLabel="Próximo"
                (pageChange)="onTableDataChange($event)"
              >
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<!-- Modal -->
<div
  bsModal
  #modalFormulario="bs-modal"
  class="modal fade"
  id="modalFormulario"
  tabindex="-1"
  aria-labelledby="modalFormulario"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newContactModalLabel">
          Cadastrar Pessoa
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="modalFormulario.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="save()" [formGroup]="pessoaForm" #formDir="ngForm">
          <div class="row mb-3">
            <div class="col-md-3">
              <label class="form-label"
                >Usuário<span class="text-danger">*</span>
              </label>
              <ng-select
                [items]="tipo_documentos"
                name="ocorrencia_tipo_id"
                bindLabel="nome"
                bindValue="id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="pessoa.user_id"
                formControlName="user_id"
              >
              </ng-select>
              <div *ngIf="user_id.invalid && formDir.submitted" class="validation-error" >
                <p *ngIf="user_id.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>

              </div>
            </div>

            <div class="col-md-3">
              <label class="form-label" for="remetente"
                >Nome <span class="text-danger">*</span></label
              >
              <input
                id="nome"   
                type="text "
                class="form-control"
                placeholder="Escreva o remetente"
                name="pessoa_nome"
                [(ngModel)]="pessoa.nome"
                formControlName="nome"
              />
              <div *ngIf="nome.invalid && formDir.submitted" class="validation-error" >
                <p *ngIf="nome.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>

                <p *ngIf="nome.errors?.minlength" class="text-error">
                  O campo deve conter no mínimo 2 caracteres.
                </p>

                <p *ngIf="nome.errors?.maxlength" class="text-error">
                  O campo deve conter no máximo 255 caracteres.
                </p>
              </div>
            </div>

            <div class="col-md-3">
              <label class="form-label" for="remetente"
                >Ndi <span class="text-danger">*</span></label
              >
              <input
                id="ndi"
                type="text "
                class="form-control"
                placeholder="Escreva o remetente"
                name="ndi"
                [(ngModel)]="pessoa.ndi"
                formControlName="ndi"
              />
              <div *ngIf="ndi.invalid && formDir.submitted" class="validation-error" >
                <p *ngIf="ndi.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>

                <p *ngIf="ndi.errors?.minlength" class="text-error">
                  O campo deve conter exatamente 12 caracteres.
                </p>

                <p *ngIf="ndi.errors?.maxlength" class="text-error">
                  O campo deve conter exatamente 12 caracteres.
                </p>
              </div>
            </div>

            <div class="col-md-3">
              <label class="form-label" for="remetente"
                >Data de nascimento<span class="text-danger">*</span></label
              >
              <input
                id="data_nascimento"
                type="date "
                class="form-control"
                name="data_nascimento"
                [(ngModel)]="pessoa.data_nascimento"
                formControlName="data_nascimento"
              />
              <div *ngIf="data_nascimento.invalid && formDir.submitted" class="validation-error" >
                <p *ngIf="data_nascimento.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>

              </div>
            </div>
          </div>
        
          <div class="row mb-3">
            <div class="col-md-3">
              <label class="form-label"
                >Género <span class="text-danger">*</span>
              </label>
              <ng-select
                [items]="acesso_documentos"
                name="genero"
                bindLabel="nome"
                bindValue="id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="pessoa.genero"
                formControlName="genero"
              >
              </ng-select>
              <div *ngIf="genero.invalid && formDir.submitted" class="validation-error" >
                <p *ngIf="genero.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>

              </div>
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Estado civil <span class="text-danger">*</span>
              </label>
              <ng-select
                [items]="acesso_documentos"
                name="estado_civil"
                bindLabel="nome"
                bindValue="id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="pessoa.estado_civil"
                formControlName="estado_civil"
              >
              </ng-select>
              <div *ngIf="estado_civil.invalid && formDir.submitted" class="validation-error" >
                <p *ngIf="estado_civil.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>

              </div>
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Tipo de identificação <span class="text-danger">*</span>
              </label>
              <ng-select
                [items]="acesso_documentos"
                name="tipo_identificacao"
                bindLabel="nome"
                bindValue="id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="pessoa.tipo_identificacao"
                formControlName="tipo_identificacao"
              >
              </ng-select>
              <div *ngIf="tipo_identificacao.invalid && formDir.submitted" class="validation-error" >
                <p *ngIf="tipo_identificacao.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>
              </div>
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Municipio <span class="text-danger">*</span>
              </label>
              <ng-select
                [items]="acesso_documentos"
                name="base_municipio_id"
                bindLabel="nome"
                bindValue="id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="pessoa.base_municipio_id"
                formControlName="base_municipio_id"
              > 
              </ng-select>
              <div *ngIf="base_municipio_id.invalid && formDir.submitted" class="validation-error" >
                <p *ngIf="base_municipio_id.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>

              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label class="form-label" for="remetente"
                >Pai <span class="text-danger">*</span></label
              >
              <input
                id="pai"
                type="text "
                class="form-control"
                placeholder="Escreva o nome do pai"
                name="pai"
                [(ngModel)]="pessoa.pai"
                formControlName="pai"
              />
              <div *ngIf="pai.invalid && formDir.submitted" class="validation-error" >
                <p *ngIf="pai.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>

                <p *ngIf="pai.errors?.minlength" class="text-error">
                  O campo deve conter no mínimo 2 caracteres.
                </p>

                <p *ngIf="pai.errors?.maxlength" class="text-error">
                  O campo deve conter no máximo 255 caracteres.
                </p>
              </div>
            </div>

            <div class="col-md-3">
              <label class="form-label" for="remetente"
                >Mãe <span class="text-danger">*</span></label
              >
              <input
                id="mae"
                type="text "
                class="form-control"
                placeholder="Escreva o nome da mãe"
                name="mae"
                [(ngModel)]="pessoa.mae"
                formControlName="mae"
              />
              <div *ngIf="mae.invalid && formDir.submitted" class="validation-error" >
                <p *ngIf="mae.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>

                <p *ngIf="mae.errors?.minlength" class="text-error">
                  O campo deve conter no mínimo 2 caracteres.
                </p>

                <p *ngIf="mae.errors?.maxlength" class="text-error">
                  O campo deve conter no máximo 255 caracteres.
                </p>
              </div>
            </div>

            <div class="col-md-3">
              <label class="form-label" for="remetente"
                >Data de emissão <span class="text-danger">*</span></label
              >
              <input
                id="pai"
                type="date "
                class="form-control"
                placeholder="Escreva o nome do pai"
                name="data_emissao"
                [(ngModel)]="pessoa.data_emissao"
                formControlName="data_emissao"
              />
              <div *ngIf="data_emissao.invalid && formDir.submitted" class="validation-error" >
                <p *ngIf="data_emissao.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>

              </div>
            </div>

            <div class="col-md-3">
              <label class="form-label" for="remetente"
                >Endereço <span class="text-danger">*</span></label
              >
              <input
                id="mae"
                type="text "
                class="form-control"
                placeholder="Escreva o endereço"
                name="endereco"
                [(ngModel)]="pessoa.endereco"
                formControlName="endereco"
              />
              <div *ngIf="endereco.invalid && formDir.submitted" class="validation-error" >
                <p *ngIf="endereco.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>

                <p *ngIf="endereco.errors?.minlength" class="text-error">
                  O campo deve conter no mínimo 2 caracteres.
                </p>

                <p *ngIf="endereco.errors?.maxlength" class="text-error">
                  O campo deve conter no máximo 255 caracteres.
                </p>
              </div>
            </div>
          </div>
         
          <div class="row mb-3">
            <div class="col-md-3">
              <label class="form-label" for="email">Banco</label>
              <input
                id="banco"
                type="text"
                placeholder="Escreva o nome do Banco"
                class="form-control"
                name="banco"
                [(ngModel)]="pessoa.banco"
                formControlName="banco"
              />
              <div *ngIf="banco.invalid && formDir.submitted" class="validation-error" >
                <p *ngIf="banco.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>

                <p *ngIf="banco.errors?.minlength" class="text-error">
                  O campo deve conter no mínimo 2 caracteres.
                </p>

                <p *ngIf="banco.errors?.maxlength" class="text-error">
                  O campo deve conter no máximo 255 caracteres.
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <label class="form-label" for="telefone">Telefone Principal </label>
              <input
                id="telefone_principal"
                type="text "
                placeholder="Escreva o telefone"
                class="form-control"
                name="telefone"
                [(ngModel)]="pessoa.telefone_principal"
                formControlName="telefone_principal"
              />
              <div *ngIf="telefone_principal.invalid && formDir.submitted" class="validation-error" >
                <p *ngIf="telefone_principal.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>

                <p *ngIf="telefone_principal.errors?.minlength" class="text-error">
                  O campo deve conter no mínimo 9 digitos.
                </p>

                <p *ngIf="telefone_principal.errors?.maxlength" class="text-error">
                  O campo deve conter no máximo 255 digitos.
                </p>
              </div>
            </div>

            <div class="col-md-3">
              <label class="form-label" for="telefone">Telefone Alternativo</label>
              <input
                id="telefone"
                type="text "
                placeholder="Escreva o telefone"
                class="form-control"
                name="telefone_alternativo" 
                [(ngModel)]="pessoa.telefone_alternativo"
                formControlName="telefone_alternativo"
              />
              <div *ngIf="telefone_alternativo.invalid && formDir.submitted" class="validation-error" >                
                <p *ngIf="telefone_alternativo.errors?.maxlength" class="text-error">
                  O campo deve conter no máximo 255 caracteres.
                </p>
              </div>
            </div> 
            <div class="col-md-3">
              <label class="form-label" for="telefone">Outro contacto </label>
              <input
                id="outro_contacto"
                type="text "
                placeholder="Escreva o telefone"
                class="form-control"
                name="telefone"
                [(ngModel)]="pessoa.outro_contacto"
                formControlName="outro_contacto"
              />
              <div *ngIf="outro_contacto.invalid && formDir.submitted" class="validation-error" >
                
                <p *ngIf="outro_contacto.errors?.maxlength" class="text-error">
                  O campo deve conter no máximo 255 caracteres.
                </p>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary me-1"
              (click)="modalFormulario.hide()"
            >
              Cancelar
            </button>
            <button
              type="submit"
              id="addContact-btn"
              class="btn btn-success"
            >
              Salvar
            </button>
            <!-- end modal-content -->
          </div>

          <!-- Row -->
        </form>
      </div>
      <!-- end modal body -->
    </div>

    <!-- end modal-dialog -->
  </div>
</div>

<div
  bsModal
  #removeItemModal="bs-modal"
  class="modal fade"
  id="removeItemModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body px-4 py-5 text-center">
        <button
          type="button"
          class="btn-close position-absolute end-0 top-0 m-3"
          (click)="removeItemModal.hide()"
        ></button>
        <div class="avatar-sm mb-4 mx-auto">
          <div
            class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3"
          >
            <i class="mdi mdi-trash-can-outline"></i>
          </div>
        </div>
        <p class="text-muted font-size-16 mb-4">
          Are you Sure You want to Remove this User ?
        </p>

        <div class="hstack gap-2 justify-content-center mb-0">
          <button type="button" class="btn btn-danger me-1" id="remove-item">
            Remove Now
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="removeItemModal.hide()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
    
    <div id="print-section" style="width: 100px; height: 60px;">
     <div>  INAGBE </div>
     <div>  20240327001000042 </div>
      
     <div>
      <span> 20240327001000042 </span>   Recibo   </div>
      
      
    
      
    </div>
    
    
    
    
    
    
    
    
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
       
      
            <div class="py-2 mt-3">
              <h3 class="font-size-15 fw-bold">Order summary</h3>
            </div>
           
            <div class="d-print-none">
              <div class="float-end">
                <a href="javascript:window.print()" class="btn btn-success"><i class="fa fa-print"></i></a>
                <a href="javascript: void(0);" class="btn btn-primary w-md ms-1">Send</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      -->
