<div class="container-fluid">
  <app-page-title
    title="Gerir projectos"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row mb-2">
    <div class="col-sm-4">
      <div class="search-box me-2 mb-2 d-inline-block"></div>
      <div class="search-box me-2 mb-2 d-inline-block"></div>
    </div>
    <div class="col-sm-8">
      <div class="text-sm-end">
        <button
          type="button"
          data-bs-toggle="modal"
          (click)="newDocumentModal.show(); project = {}"
          class="btn btn-success btn-rounded waves-effect waves-light addContact-modal mb-2"
        >
          <i class="mdi mdi-plus me-1"></i> Novo projecto
        </button>
      </div>
    </div>
    <!-- end col-->
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-lg-4 mb-3">
                <!-- <label for="formrow-firstname-input"
                    >Codigo do documento
                  </label> -->
                <input
                  [(ngModel)]="filtro.name_code"
                  type="text"
                  name="codigo"
                  class="form-control"
                  id="formrow-firstname-input"
                  placeholder="Nome ou código do projecto"
                />
              </div>

              <div class="col-lg-1">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="pesquisar()"
                >
                  Pesquisar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- end select2 -->
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <div class="d-flex flex-row-reverse bd-highlight mb-2">
              <div class="p-0 bd-highlight">
                <select
                  (change)="onTableSizeChange($event)"
                  class="form-select"
                >
                  <option *ngFor="let size of tableSizes" [ngValue]="size">
                    {{ size }}
                  </option>
                </select>
              </div>
            </div>

            <table class="table table-sm table-bordered table-hover">
              <thead class="table-info">
                <tr>
                  <th>Codigo</th>
                  <th>Nome</th>
                  <th>Responsável</th>
                  <th>Tempo estimado</th>
                  <th>Descrição</th>
                  <th>Status</th>
                  <th>Acção</th>
                </tr>
              </thead>
              <tbody class="">
                <tr
                  *ngFor="
                    let data of projects
                      | paginate
                        : {
                            itemsPerPage: filtro.pagesize,
                            currentPage: filtro.page,
                            totalItems: filtro.total_itens
                          }
                  "
                >
                  <td>{{ data?.id }}</td>

                  <td>{{ data?.project_name.substring(0, 30) }}</td>

                  <td>{{ data?.responsible_user_id }}</td>
                  <td>{{ data?.estimated_time }} {{ data?.time_unit }}</td>
                  <td>{{ data?.project_description.substring(0, 50) }}</td>
                  <td>{{ data?.status }}</td>

                  <td>
                    <div dropdown class="dropdown">
                      <a
                        dropdownToggle
                        href="javascript: void(0);"
                        class="dropdown-toggle card-drop px-2 show"
                        aria-expanded="true"
                      >
                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                      </a>
                      <ul
                        *dropdownMenu
                        class="dropdown-menu dropdown-menu-end show"
                        style="
                          position: absolute;
                          inset: 0px 0px auto auto;
                          margin: 0px;
                          transform: translate(0px, 31.25px);
                        "
                        placement="bottom-end"
                      >
                        <li>
                          <a
                            href="javascript:void(0);"
                            (click)="editUser(data)"
                            class="dropdown-item edit-list"
                            data-edit-id="8"
                            ><i
                              class="mdi mdi-pencil font-size-16 text-success me-1"
                            ></i>
                            Editar</a
                          >
                        </li>
                        <li>
                          <a
                            href="javascript:void(0);"
                            (click)="removeUser(data.id)"
                            class="dropdown-item remove-list"
                            data-remove-id="8"
                            ><i
                              class="mdi mdi-trash-can font-size-16 text-danger me-1"
                            ></i>
                            Delete</a
                          >
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="mt-3">
              Total: <b>{{ filtro.total_itens }}</b>
            </p>

            <div
              class="pagination pagination-rounded justify-content-center mt-4"
            >
              <pagination-controls
                [responsive]="true"
                previousLabel="Anterior"
                nextLabel="Próximo"
                (pageChange)="onTableDataChange($event)"
              >
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<!-- Modal -->
<div
  bsModal
  #newDocumentModal="bs-modal"
  class="modal fade"
  id="newContactModal"
  tabindex="-1"
  aria-labelledby="newDocumentModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newContactModalLabel">Novo projecto</h5>
        <button
          type="button"
          class="btn-close"
          (click)="newDocumentModal.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label"
                >Nome do projecto <span class="text-danger">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                name="project_name"
                placeholder="Escreva o nome do projecto"
                [(ngModel)]="project.project_name"
              />
            </div>

            <div class="col-md-6">
              <label class="fom-lsbel"
                >Responsável do projecto
                <span class="text-danger">*</span></label
              >
              <ng-select
                [items]="employee"
                name="employee"
                bindLabel="nome"
                bindValue="id"
                value="responsible_user_id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="project.responsible_user_id"
              >
              </ng-select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label"
                >Tempo estimado <span class="text-danger">*</span>
              </label>
              <input
                type="number"
                class="form-control"
                name="time_unit"
                placeholder="Escreva o tempo estimado"
                [(ngModel)]="project.estimated_time"
              />
            </div>
            <div class="col-md-6">
              <label class="fom-label"
                >Unidade de tempo <span class="text-danger">*</span></label
              >

              <select
                id=""
                name="time_unit"
                class="form-control"
                [(ngModel)]="project.time_unit"
              >
                <option value="hour">Hora(s)</option>
                <option value="day">Dia(s)</option>
                <option value="week">Semana(s)</option>
                <option value="month">Mês(s)</option>
                <option value="year">Ano(s)</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-12">
              <label class="form-label"
                >Descrição <span class="text-danger">*</span>
              </label>
              <textarea
                name="project_description"
                class="form-control"
                id=""
                rows="2"
                [(ngModel)]="project.project_description"
              ></textarea>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary me-1"
              (click)="newDocumentModal.hide()"
            >
              Cancelar
            </button>
            <button
              type="submit"
              id="addContact-btn"
              class="btn btn-success"
              (click)="save(); newDocumentModal.hide()"
            >
              Salvar
            </button>
            <!-- end modal-content -->
          </div>

          <!-- Row -->
        </form>
      </div>
      <!-- end modal body -->
    </div>

    <!-- end modal-dialog -->
  </div>
</div>

<div
  bsModal
  #newContactModal="bs-modal"
  class="modal fade"
  id="newContactModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newContactModalLabel">Editar projecto</h5>
        <button
          type="button"
          class="btn-close"
          (click)="newContactModal.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label"
                >Nome do projecto <span class="text-danger">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                name="project_name"
                placeholder="Escreva o nome do projecto"
                [(ngModel)]="project.project_name"
              />
            </div>

            <div class="col-md-6">
              <label class="fom-lsbel"
                >Responsável do projecto
                <span class="text-danger">*</span></label
              >
              <ng-select
                [items]="employee"
                name="employee"
                bindLabel="nome"
                bindValue="id"
                value="responsible_user_id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="project.responsible_user_id"
              >
              </ng-select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label"
                >Tempo estimado <span class="text-danger">*</span>
              </label>
              <input
                type="number"
                class="form-control"
                name="time_unit"
                placeholder="Escreva o tempo estimado"
                [(ngModel)]="project.estimated_time"
              />
            </div>
            <div class="col-md-6">
              <label class="fom-label"
                >Unidade de tempo <span class="text-danger">*</span></label
              >

              <select
                id=""
                name="time_unit"
                class="form-control"
                [(ngModel)]="project.time_unit"
              >
                <option value="hour">Hora(s)</option>
                <option value="day">Dia(s)</option>
                <option value="week">Semana(s)</option>
                <option value="month">Mês(s)</option>
                <option value="year">Ano(s)</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-12">
              <label class="form-label"
                >Descrição <span class="text-danger">*</span>
              </label>
              <textarea
                name="project_description"
                class="form-control"
                id=""
                rows="2"
                [(ngModel)]="project.project_description"
              ></textarea>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary me-1"
              (click)="newContactModal.hide()"
            >
              Cancelar
            </button>
            <button
              type="submit"
              id="addContact-btn"
              class="btn btn-success"
              (click)="update(); newContactModal.hide()"
            >
              Salvar
            </button>
            <!-- end modal-content -->
          </div>

          <!-- Row -->
        </form>
      </div>
      <!-- end modal body -->
    </div>

    <!-- end modal-dialog -->
  </div>
</div>
