.validation-error {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0;
  padding-top: 10px;

  .text-error {
    color: red;
  }
}

.input-valid {
  border-color: green;
}

.input-invalid {
  border-color: red;
}

.title-item {
  font-size: 14px;
  font-weight: bold;
}
