<div class="container-fluid">
  <div class="d-flex justify-content-between mb-2">
    <app-page-title title="Detalhes da Tramitação"></app-page-title>
    <div class="search-box me-2 mb-2 d-inline-block">
      <a
        href="/#/gd/tramitacao"
        class="bg-primary d-flex justify-content-center"
        style="height: 40px; width: 40px; border-radius: 100%"
      >
        <i
          class="bx bx-arrow-back font-size-16 text-white align-middle align-self-center"
        ></i>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Informaões Do Documento</h4>
          <!-- <p class="card-title-desc">Example of custom tabs</p> -->
          <tabset
            [justified]="true"
            class="nav-tabs nav-tabs-custom nav-justified"
          >
            <tab heading="Destalhe">
              <ng-template [ngTemplateOutlet]="TabContent1"></ng-template>
            </tab>
            <tab heading="Despacho">
              <ng-template [ngTemplateOutlet]="TabContent2"></ng-template>
            </tab>
            <tab heading="Historio">
              <ng-template [ngTemplateOutlet]="TabContent3"></ng-template>
            </tab>
            <tab heading="Documento">
              <ng-template [ngTemplateOutlet]="TabContent4"></ng-template>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tab Content -->
<ng-template #TabContent1>
  <div class="row mb-6">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-3">
              <label>Tipo de Documento </label>
              <br />
              <span class="title-item">
                {{ documento.gdTipoDocumento?.nome }}
              </span>
            </div>
            <div class="col-md-3">
              <label>Acesso </label>
              <br />
              <span class="title-item">
                {{ documento.gdDocumentoAcesso?.nome }}
              </span>
            </div>
            <div class="col-md-3">
              <label>Prioridade </label>
              <br />
              <span class="title-item">
                {{ documento.gdPrioridadeDocumento?.nome }}
              </span>
            </div>
            <div class="col-md-3">
              <label>Via Transmissão </label>
              <br />
              <span class="title-item">
                {{ documento.gdDocumentoViaTransmissoe?.nome }}
              </span>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <label>Remetente </label>
              <br />
              <span class="title-item"> {{ documento.remetente }} </span>
            </div>
            <div class="col-md-3">
              <label>Destinatário </label>
              <br />
              <span class="title-item"> {{ documento.destinatario }} </span>
            </div>

            <div class="col-md-3">
              <label>Telefone </label>
              <br />
              <span class="title-item">
                {{ documento.telefone ? documento.telefone : "N/D" }}
              </span>
            </div>

            <div class="col-md-3">
              <label>Email</label>
              <br />
              <span class="title-item">
                {{ documento.email ? documento.email : "N/D" }}
              </span>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <label>Estado </label>
              <br />
              <span class="title-item">
                {{ documento.estado === 0 ? "Inativo" : "Ativo" }}
              </span>
            </div>

            <div class="col-md-3">
              <label>Nº Documento </label>
              <br />
              <span class="title-item"> {{ documento.numero_documento }} </span>
            </div>
            <div class="col-md-3">
              <label>Data do Documento </label>
              <br />
              <span class="title-item">
                {{ documento.data_documento | date : "dd/MM/yyyy" }}
              </span>
            </div>
            <div class="col-md-3">
              <label>Data de Entrada/Saida </label>
              <br />
              <span class="title-item">
                {{ documento.data_entrada_saida | date : "dd/MM/yyyy" }}
              </span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label>Origem do Documento </label>

              <br />
              <span class="title-item">
                {{ documento.origem_documento === 0 ? "Interno" : "Externo" }}
              </span>
            </div>
            <div class="col-md-9">
              <label>Assunto </label>
              <br />
              <span class="title-item"> {{ documento.assunto }} </span>
            </div>
          </div>

          <!-- Row -->
        </div>
      </div>
      <!-- end select2 -->
    </div>
  </div>
</ng-template>
<!-- Tab Content -->
<ng-template #TabContent2>
  <div class="row mb-6">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-3">
              <label> Departamento/Área a Despachar </label>
              <br />
              <span class="title-item">
                {{ documento.remetente ? documento.remetente : "N/D" }}
              </span>
            </div>
            <div class="col-md-3">
              <label>Funcionário a Despachar </label>
              <br />
              <span class="title-item">
                {{ documento.destinatario ? documento.destinatario : "N/D" }}
              </span>
            </div>

            <div class="col-md-3">
              <label>Departamento/Área Para Conhecimento </label>
              <br />

              <span
                *ngFor="let data of documento?.base_area_conhecimento"
                class="title-item"
              >
                {{ data ? data : "N/D" }}
              </span>
            </div>

            <div class="col-md-3">
              <label>Funcionário Para Conhecimento</label>
              <br />
              <span
                *ngFor="let data of documento.rh_funcionario_conhecimento"
                class="title-item"
              >
                {{ data ? data : "N/D" }}
              </span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label>Periodo de Tratamento </label>
              <br />
              <span class="title-item">
                {{
                  documento.periodo_tratamento
                    ? documento.periodo_tratamento + "dias"
                    : "N/D"
                }}
              </span>
            </div>
            <div class="col-md-3">
              <label>Data de Despacho </label>
              <br />
              <span class="title-item">
                {{
                  documento.data_despacho
                    ? (documento.data_despacho | date : "dd/MM/yyyy")
                    : "N/D"
                }}
              </span>
            </div>
            <div class="col-md-3">
              <label>Natureza da Atividade </label>
              <br />
              <span class="title-item">
                {{ documento.natureza ? documento.natureza?.nome : "N/D" }}
              </span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label>Descrição do Despacho </label>
              <br />
              <span class="title-item">
                {{ documento.despacho_descricao }}
              </span>
            </div>
          </div>

          <!-- Row -->
        </div>
      </div>
      <!-- end select2 -->
    </div>

    <div class="col-lg-12">
      <div class="card">
        <table class="table table-sm table-bordered table-hover">
          <thead class="table-info">
            <tr>
              <th>Area Despachada</th>
              <th>Referencia</th>
              <th>Acção</th>
            </tr>
          </thead>
          <tbody class="">
            <tr *ngFor="let data of documento?.base_area_despacho">
              <td>{{ data }}</td>

              <td></td>

              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>
<!-- Tab Content -->
<ng-template #TabContent3>
  <div class="row mb-6">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body general-box">
          <!-- <div class="row mb-2">
            <h2>Histórico</h2>
          </div> -->

          <div class="row mb-3 box-history">
            <div class="col-md-3">
              <label> Atividade </label>
            </div>
            <div class="col-md-3">
              <label> Funcionário </label>
            </div>
            <div class="col-md-3">
              <label> Data </label>
            </div>
          </div>

          <div
            *ngFor="let data of documento?.estados_historico"
            class="row mb-3 box-history"
          >
            <div class="col-md-3">
              <span class="title-item"> {{ data?.estado.nome }} </span>
            </div>
            <div class="col-md-3">
              <span class="title-item">
                {{ data?.user.nome }}
              </span>
            </div>
            <div class="col-md-3">
              <span class="title-item">
                {{ data?.data | date : "dd/MM/yyyy" }}
              </span>
            </div>
          </div>

          <!-- Row -->
        </div>
      </div>
      <!-- end select2 -->
    </div>
  </div>
</ng-template>

<!-- Tab Content -->
<ng-template #TabContent4>
  <embed
    src="https://api.inagbe.gov.ao/api/files/noticias/UNIAO_Cronograma_para_a_assinatura_dos_contratos_de_Bolsas_de_estudo_2023_2024.pdf"
    type="application/pdf"
    width="100%"
    height="100%"
    style="height: 600px"
  />
</ng-template>
