<div class="container-fluid">
  <app-page-title
    title="Gerir Documento-Estado"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row mb-2">
    <div class="col-sm-4">
      <div class="search-box me-2 mb-2 d-inline-block"></div>
      <div class="search-box me-2 mb-2 d-inline-block"></div>
    </div>
    <div class="col-sm-8">
      <div class="text-sm-end">
        <button
          type="button"
          data-bs-toggle="modal"
          (click)="newDocumentModal.show(); documento_estado = {}"
          class="btn btn-success btn-rounded waves-effect waves-light addContact-modal mb-2"
        >
          <i class="mdi mdi-plus me-1"></i> Novo Documento-Estado
        </button>
      </div>
    </div>
    <!-- end col-->
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-lg-4 mb-3">
                <label for="formrow-firstname-input">Código do documento</label>
                <input
                  [(ngModel)]="filtro.name_code"
                  type="text"
                  name="codigo"
                  class="form-control"
                  id="formrow-firstname-input"
                  placeholder="Escreva o código do documento"
                />
              </div>

              <div class="col-lg-1 mt-4">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="pesquisar()"
                >
                  Pesquisar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- end select2 -->
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <div class="d-flex flex-row-reverse bd-highlight mb-2">
              <div class="p-0 bd-highlight">
                <select
                  (change)="onTableSizeChange($event)"
                  class="form-select"
                >
                  <option *ngFor="let size of tableSizes" [ngValue]="size">
                    {{ size }}
                  </option>
                </select>
              </div>
            </div>

            <table class="table table-sm table-bordered table-hover">
              <thead class="table-info">
                <tr>
                  <th>ID</th>
                  <th>nome</th>
                  <th>Código do documento</th>
                  <th>Remetente</th>
                  <th>Destinatário</th>
                  <th>Data de entrada</th>
                  <th>Data de saída</th>
                  <th>Data do documento</th>
                  <th>Assunto</th>
                  <th>Série</th>
                  <th>Acção</th>
                </tr>
              </thead>
              <tbody class="">
                <tr
                  *ngFor="
                    let data of documento_estados
                      | paginate
                        : {
                            itemsPerPage: filtro.pagesize,
                            currentPage: filtro.page,
                            totalItems: filtro.total_itens
                          }
                  "
                >
                  <td>{{ data?.id }}</td>
                  <td>{{ data?.nome }}</td>
                  <td>{{ data?.codigo_documento }}</td>
                  <td>{{ data?.remetente.substring(0, 30) }}</td>
                  <td>{{ data?.destinatario.substring(0, 50) }}</td>
                  <td>{{ data?.data_entrada }}</td>
                  <td>{{ data?.data_saida }}</td>
                  <td>{{ data?.data_documento }}</td>
                  <td>{{ data?.assunto }}</td>
                  <td>{{ data?.serie }}</td>
                  <td>
                    <div dropdown class="dropdown">
                      <a
                        dropdownToggle
                        href="javascript: void(0);"
                        class="dropdown-toggle card-drop px-2 show"
                        aria-expanded="true"
                      >
                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                      </a>
                      <ul
                        *dropdownMenu
                        class="dropdown-menu dropdown-menu-end show"
                        style="
                          position: absolute;
                          inset: 0px 0px auto auto;
                          margin: 0px;
                          transform: translate(0px, 31.25px);
                        "
                        placement="bottom-end"
                      >
                        <li>
                          <a
                            href="javascript:void(0);"
                            (click)="editUser(data)"
                            class="dropdown-item edit-list"
                            data-edit-id="8"
                            ><i
                              class="mdi mdi-pencil font-size-16 text-success me-1"
                            ></i>
                            Editar</a
                          >
                        </li>
                        <li>
                          <a
                            href="javascript:void(0);"
                            (click)="removeUser(data.id)"
                            class="dropdown-item remove-list"
                            data-remove-id="8"
                            ><i
                              class="mdi mdi-trash-can font-size-16 text-danger me-1"
                            ></i>
                            Delete</a
                          >
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="mt-3">
              Total: <b>{{ filtro.total_itens }}</b>
            </p>

            <div
              class="pagination pagination-rounded justify-content-center mt-4"
            >
              <pagination-controls
                [responsive]="true"
                previousLabel="Anterior"
                nextLabel="Próximo"
                (pageChange)="onTableDataChange($event)"
              >
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<!-- Modal -->
<div
  bsModal
  #newDocumentModal="bs-modal"
  class="modal fade"
  id="newContactModal"
  tabindex="-1"
  aria-labelledby="newDocumentModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newContactModalLabel">
          Novo Documento-Estado
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="newDocumentModal.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mb-3">
            <div class="col-md-3">
              <label class="form-label"
                >Tipo de documento <span class="text-danger">*</span>
              </label>
              <ng-select
                [items]="tipo_documentos"
                name="tipo_documento"
                bindLabel="nome"
                bindValue="id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="documento_estado.gd_tipo_documento_id"
              >
              </ng-select>
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Via de transmissão <span class="text-danger">*</span>
              </label>
              <ng-select
                [items]="via_transmissao"
                name="via_transmissao"
                bindLabel="nome"
                bindValue="id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="documento_estado.via_transmissao"
              >
              </ng-select>
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Nível de acesso <span class="text-danger">*</span>
              </label>
              <select
                class="form-control"
                name="gd_nivel_acesso_id"
                [(ngModel)]="documento_estado.gd_nivel_acesso_id"
              >
                <option selected disabled>-- Selecione uma opção --</option>
                <option value="0">0</option>
                <option value="1">1</option>
              </select>
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Estado do documento <span class="text-danger">*</span>
              </label>
              <ng-select
                [items]="gd_estados"
                name="gd_estado_documento_id"
                bindLabel="nome"
                bindValue="id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="documento_estado.gd_estado_documento_id"
              >
              </ng-select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label class="form-label"
                >Nome <span class="text-danger">*</span></label
              >
              <input
                type="text "
                class="form-control"
                placeholder="Escreva o nome"
                name="nome"
                [(ngModel)]="documento_estado.nome"
              />
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Documento <span class="text-danger">*</span>
              </label>
              <input
                class="form-control"
                list="documentsList"
                [(ngModel)]="documento_estado.codigo_documento"
                name="gd_documento_id"
                placeholder="-- Selecione uma opção --"
              />
              <datalist id="documentsList">
                <option
                  *ngFor="let documento of documentos"
                  [value]="documento.codigo_documento"
                ></option>
              </datalist>
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Remetente <span class="text-danger">*</span></label
              >
              <input
                type="text "
                placeholder="Escreva o remetente"
                class="form-control"
                name="remetente "
                [(ngModel)]="documento_estado.remetente"
              />
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Destinatário <span class="text-danger">*</span></label
              >
              <input
                type="text "
                class="form-control"
                placeholder="Escreva o destinatário"
                name="destintatario"
                [(ngModel)]="documento_estado.destinatario"
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label class="form-label"
                >Data de entrada <span class="text-danger">*</span></label
              >
              <input
                type="date"
                class="form-control"
                name="data_entrada"
                [(ngModel)]="documento_estado.data_entrada"
              />
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Data de saída <span class="text-danger">*</span></label
              >
              <input
                type="date"
                class="form-control"
                name="data_saida"
                [(ngModel)]="documento_estado.data_saida"
              />
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Data de documento <span class="text-danger">*</span></label
              >
              <input
                type="date"
                class="form-control"
                name="data_documento"
                [(ngModel)]="documento_estado.data_documento"
              />
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Série <span class="text-danger">*</span></label
              >
              <input
                type="text "
                placeholder="Escreva a série"
                class="form-control"
                name="serie "
                [(ngModel)]="documento_estado.serie"
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-12">
              <label class="form-label"
                >Assunto <span class="text-danger">*</span></label
              >
              <input
                type="text "
                placeholder="escreva o assunto"
                class="form-control"
                name="assunto "
                [(ngModel)]="documento_estado.assunto"
              />
            </div>

            <!-- <div class="col-md-6">
              <label class="form-label"
                >Entidade acreditada <span class="text-danger">*</span>
              </label>
              <ng-select
                [items]="entidades_acreditadas"
                name="gd_ordem_referencia_id"
                bindLabel="nome"
                bindValue="id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="documento_estado.entidade_id"
              >
              </ng-select>
            </div> -->
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label"
                >Unidade orgánica acreditada
                <span class="text-danger">*</span></label
              >
              <input
                type="text "
                placeholder="escreva o assunto"
                class="form-control"
                name="unidade_organica_acreditada"
                [(ngModel)]="documento_estado.unidade_organica_acreditada"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label"
                >Código de arquivista <span class="text-danger">*</span></label
              >
              <input
                type="text "
                placeholder="escreva o assunto"
                class="form-control"
                name="codigo_arquivista"
                [(ngModel)]="documento_estado.codigo_arquivista"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary me-1"
              (click)="newDocumentModal.hide()"
            >
              Cancelar
            </button>
            <button
              type="submit"
              id="addContact-btn"
              class="btn btn-success"
              (click)="save(); newDocumentModal.hide()"
            >
              Salvar
            </button>
            <!-- end modal-content -->
          </div>

          <!-- Row -->
        </form>
      </div>
      <!-- end modal body -->
    </div>

    <!-- end modal-dialog -->
  </div>
</div>

<div
  bsModal
  #removeItemModal="bs-modal"
  class="modal fade"
  id="removeItemModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body px-4 py-5 text-center">
        <button
          type="button"
          class="btn-close position-absolute end-0 top-0 m-3"
          (click)="removeItemModal.hide()"
        ></button>
        <div class="avatar-sm mb-4 mx-auto">
          <div
            class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3"
          >
            <i class="mdi mdi-trash-can-outline"></i>
          </div>
        </div>
        <p class="text-muted font-size-16 mb-4">
          Are you Sure You want to Remove this User ?
        </p>

        <div class="hstack gap-2 justify-content-center mb-0">
          <button type="button" class="btn btn-danger me-1" id="remove-item">
            Remove Now
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="removeItemModal.hide()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #newContactModal="bs-modal"
  class="modal fade"
  id="newContactModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newContactModalLabel">
          Editar Documento-estado
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="newContactModal.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mb-3">
            <div class="col-md-3">
              <label class="form-label"
                >Tipo de documento <span class="text-danger">*</span>
              </label>
              <ng-select
                [items]="tipo_documentos"
                name="tipo_documento"
                bindLabel="nome"
                bindValue="id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="documento_estado.gd_tipo_documento_id"
              >
              </ng-select>
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Via de transmissão <span class="text-danger">*</span>
              </label>
              <select
                class="form-control"
                name="via_transmissao"
                [(ngModel)]="documento_estado.via_transmissao"
              >
                <option selected disabled>-- Selecione uma opção --</option>
                <option *ngFor="let data of via_transmissao" [value]="data.id">
                  {{ data.nome }}
                </option>
              </select>
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Nível de acesso <span class="text-danger">*</span>
              </label>
              <select
                class="form-control"
                name="gd_nivel_acesso_id"
                [(ngModel)]="documento_estado.gd_nivel_acesso_id"
              >
                <option selected disabled>-- Selecione uma opção --</option>
                <option value="0">0</option>
                <option value="1">1</option>
              </select>
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Estado do documento <span class="text-danger">*</span>
              </label>
              <ng-select
                [items]="gd_estados"
                name="gd_estado_documento_id"
                bindLabel="nome"
                bindValue="id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="documento_estado.gd_estado_documento_id"
              >
              </ng-select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label class="form-label"
                >Nome <span class="text-danger">*</span></label
              >
              <input
                type="text "
                class="form-control"
                placeholder="Escreva o nome"
                name="nome"
                [(ngModel)]="documento_estado.nome"
              />
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Documento <span class="text-danger">*</span>
              </label>
              <input
                class="form-control"
                list="documentsList"
                [(ngModel)]="documento_estado.codigo_documento"
                name="gd_documento_id"
                placeholder="-- Selecione uma opção --"
              />
              <datalist id="documentsList">
                <option
                  *ngFor="let documento of documentos"
                  [value]="documento.codigo_documento"
                ></option>
              </datalist>
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Remetente <span class="text-danger">*</span></label
              >
              <input
                type="text "
                placeholder="Escreva o remetente"
                class="form-control"
                name="remetente "
                [(ngModel)]="documento_estado.remetente"
              />
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Destinatário <span class="text-danger">*</span></label
              >
              <input
                type="text "
                class="form-control"
                placeholder="Escreva o destinatário"
                name="destintatario"
                [(ngModel)]="documento_estado.destinatario"
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label class="form-label"
                >Data de entrada <span class="text-danger">*</span></label
              >
              <input
                type="date"
                class="form-control"
                name="data_entrada"
                [(ngModel)]="documento_estado.data_entrada"
              />
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Data de saída <span class="text-danger">*</span></label
              >
              <input
                type="date"
                class="form-control"
                name="data_saida"
                [(ngModel)]="documento_estado.data_saida"
              />
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Data de documento <span class="text-danger">*</span></label
              >
              <input
                type="date"
                class="form-control"
                name="data_documento"
                [(ngModel)]="documento_estado.data_documento"
              />
            </div>

            <div class="col-md-3">
              <label class="form-label"
                >Série <span class="text-danger">*</span></label
              >
              <input
                type="text "
                placeholder="Escreva a série"
                class="form-control"
                name="serie "
                [(ngModel)]="documento_estado.serie"
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-12">
              <label class="form-label"
                >Assunto <span class="text-danger">*</span></label
              >
              <input
                type="text "
                placeholder="escreva o assunto"
                class="form-control"
                name="assunto "
                [(ngModel)]="documento_estado.assunto"
              />
            </div>

            <!-- <div class="col-md-6">
              <label class="form-label"
                >Entidade acreditada <span class="text-danger">*</span>
              </label>
              <ng-select
                [items]="entidades_acreditadas"
                name="gd_ordem_referencia_id"
                bindLabel="nome"
                bindValue="id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="documento_estado.entidade_id"
              >
              </ng-select>
            </div> -->
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label"
                >Unidade orgánica acreditada
                <span class="text-danger">*</span></label
              >
              <input
                type="text "
                placeholder="escreva o assunto"
                class="form-control"
                name="unidade_organica_acreditada"
                [(ngModel)]="documento_estado.unidade_organica_acreditada"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label"
                >Código de arquivista <span class="text-danger">*</span></label
              >
              <input
                type="text "
                placeholder="escreva o assunto"
                class="form-control"
                name="codigo_arquivista"
                [(ngModel)]="documento_estado.codigo_arquivista"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary me-1"
              (click)="newContactModal.hide()"
            >
              Cancelar
            </button>
            <button
              type="submit"
              id="addContact-btn"
              class="btn btn-success"
              (click)="update(); newContactModal.hide()"
            >
              Salvar
            </button>
            <!-- end modal-content -->
          </div>

          <!-- Row -->
        </form>
      </div>
      <!-- end modal body -->
    </div>

    <!-- end modal-dialog -->
  </div>
</div>
