<div class="container-fluid">
  <app-page-title
    title="Gerir Entidade"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row mb-2">
    <div class="col-sm-4">
      <div class="search-box me-2 mb-2 d-inline-block"></div>
      <div class="search-box me-2 mb-2 d-inline-block"></div>
    </div>
    <div class="col-sm-8">
      <div class="text-sm-end">
        <button
          type="button"
          data-bs-toggle="modal"
          (click)="openModal(false)"
          class="btn btn-success btn-rounded waves-effect waves-light addContact-modal mb-2"
        >
          <i class="mdi mdi-plus me-1"></i> Nova Entidade
        </button>
      </div>
    </div>
    <!-- end col-->
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-lg-4">
                <label for="input"> Nome da Entidade </label>
                <input
                  [(ngModel)]="filtro.name_code"
                  type="text"
                  name="codigo"
                  class="form-control"
                  id="formrow-firstname-input"
                  placeholder="Pesquise Pelo Nome da Entidade"
                />
              </div>
              <div class="col-md-2">
                <label class="form-label">Estado:</label>
                <select
                  class="form-control"
                  [(ngModel)]="filtro.estado"
                  placeholder="-- Seleciona Uma Opção --"
                >
                  <option value="0">Inativo</option>
                  <option value="1">Ativo</option>
                </select>
              </div>
              <div class="col-lg-2 d-flex align-self-end">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="pesquisar()"
                >
                  Pesquisar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- end select2 -->
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <div class="d-flex flex-row-reverse bd-highlight mb-2">
              <div class="p-0 bd-highlight">
                <select
                  (change)="onTableSizeChange($event)"
                  class="form-select"
                >
                  <option *ngFor="let size of tableSizes" [ngValue]="size">
                    {{ size }}
                  </option>
                </select>
              </div>
            </div>

            <table class="table table-sm table-bordered table-hover">
              <thead class="table-info">
                <tr>
                  <th>Item</th>
                  <th>Nome</th>
                  <th>Endereço</th>
                  <th>Email</th>
                  <th>Telefone</th>
                  <th>Estado</th>
                  <th>Acção</th>
                </tr>
              </thead>
              <tbody class="">
                <tr
                  *ngFor="
                    let data of entidades
                      | paginate
                        : {
                            itemsPerPage: filtro.pagesize,
                            currentPage: filtro.page,
                            totalItems: filtro.total_itens
                          }
                  "
                >
                  <td>{{ data?.id }}</td>
                  <td>{{ data?.nome }}</td>

                  <td>{{ data?.endereco?.substring(0, 30) }}</td>
                  <td>{{ data?.email?.substring(0, 50) }}</td>

                  <td>{{ data?.telefone }}</td>
                  <td>{{ data?.estado === 0 ? "Inativo" : "Activo" }}</td>
                  <td>
                    <div dropdown class="dropdown">
                      <a
                        dropdownToggle
                        href="javascript: void(0);"
                        class="dropdown-toggle card-drop px-2 show"
                        aria-expanded="true"
                      >
                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                      </a>
                      <ul
                        *dropdownMenu
                        class="dropdown-menu dropdown-menu-end show"
                        style="
                          position: absolute;
                          inset: 0px 0px auto auto;
                          margin: 0px;
                          transform: translate(0px, 31.25px);
                        "
                        placement="bottom-end"
                      >
                        <li>
                          <a
                            href="javascript:void(0);"
                            (click)="editUser(data, true)"
                            class="dropdown-item edit-list"
                            data-edit-id="8"
                            ><i
                              class="mdi mdi-pencil font-size-16 text-success me-1"
                            ></i>
                            Editar</a
                          >
                        </li>

                        <li *ngIf="data?.estado === 1">
                          <a
                            href="javascript:void(0);"
                            (click)="questionsToremoveItem(data, 'remove')"
                            class="dropdown-item remove-list"
                            data-remove-id="8"
                            ><i
                              class="mdi mdi-trash-can font-size-16 text-danger me-1"
                            ></i>
                            Deletar</a
                          >
                        </li>

                        <li *ngIf="data?.estado === 0">
                          <a
                            href="javascript:void(0);"
                            (click)="questionsToremoveItem(data, 'recover')"
                            class="dropdown-item remove-list"
                            data-remove-id="8"
                            ><i
                              class="mdi mdi-recycle font-size-16 text-success me-1"
                            ></i>
                            Recuperar</a
                          >
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="mt-3">
              Total: <b>{{ filtro.total_itens }}</b>
            </p>

            <div
              class="pagination pagination-rounded justify-content-center mt-4"
            >
              <pagination-controls
                [responsive]="true"
                previousLabel="Anterior"
                nextLabel="Próximo"
                (pageChange)="onTableDataChange($event)"
              >
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<!-- Modal -->
<div
  bsModal
  #modalFormulario="bs-modal"
  class="modal fade"
  id="modalFormulario"
  tabindex="-1"
  aria-labelledby="modalFormulario"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newContactModalLabel">
          {{ editar ? "Editar" : "Nova" }}
          Classificação
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="modalFormulario.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="save()" [formGroup]="momentForm" #formDir="ngForm">
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label">Nome </label>
              <input
                type="text"
                class="form-control"
                placeholder="Escreva O Nome da Entidade"
                name="nome"
                [(ngModel)]="entidade.nome"
                formControlName="nome"
              />
              <div
                *ngIf="nome.invalid && formDir.submitted"
                class="validation-error"
              >
                <p *ngIf="nome.errors?.['required']" class="text-error">
                  Campo Obrigatório.
                </p>
                <p *ngIf="nome.errors?.pattern" class="text-error">
                  O Campo Não Pode Conter Apenas Espaços Em Branco.
                </p>
                <p *ngIf="nome.errors?.minlength" class="text-error">
                  O Campo Deve Conter No Mínimo 2 Caracteres.
                </p>

                <p *ngIf="nome.errors?.maxlength" class="text-error">
                  O Campo Deve Conter No Máximo 255 Caracteres.
                </p>
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Email </label>
              <input
                type="email"
                class="form-control"
                placeholder="Escreva O Email"
                name="email"
                [(ngModel)]="entidade.email"
                formControlName="email"
              />

              <div
                *ngIf="email.invalid && formDir.submitted"
                class="validation-error"
              >
                <p *ngIf="email.errors?.['required']" class="text-error">
                  Campo Obrigatório.
                </p>
                <p *ngIf="email.errors?.pattern" class="text-error">
                  O Campo Não Pode Conter Apenas Espaços Em Branco.
                </p>
                <p *ngIf="email.errors?.minlength" class="text-error">
                  O Campo Deve Conter No Mínimo 2 Caracteres.
                </p>

                <p *ngIf="email.errors?.maxlength" class="text-error">
                  O Campo Deve Conter No Máximo 255 Caracteres.
                </p>

                <p *ngIf="email.errors?.email" class="text-error">
                  Escreva um email válido
                </p>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label">Telefone </label>
              <input
                type="text"
                class="form-control"
                placeholder="Escreva O Telefone"
                name="telefone"
                [(ngModel)]="entidade.telefone"
                formControlName="telefone"
              />
              <div
                *ngIf="telefone.invalid && formDir.submitted"
                class="validation-error"
              >
                <p *ngIf="telefone.errors?.['required']" class="text-error">
                  Campo Obrigatório.
                </p>

                <p *ngIf="telefone.errors?.pattern" class="text-error">
                  O Campo Não Pode Conter Apenas Espaços Em Branco.
                </p>
                <p *ngIf="telefone.errors?.minlength" class="text-error">
                  O Campo Deve Conter No Mínimo 2 Caracteres.
                </p>

                <p *ngIf="telefone.errors?.maxlength" class="text-error">
                  O Campo Deve Conter No Máximo 255 Caracteres.
                </p>
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label"
                >Estado <span class="text-danger">*</span>
              </label>
              <select
                class="form-select"
                name="estado"
                [(ngModel)]="entidade.estado"
                formControlName="estado"
              >
                <option value="" disabled selected>
                  -- Seleciona Uma Opção --
                </option>
                <option value="0">Inativo</option>
                <option value="1">Ativo</option>
              </select>
              <div
                *ngIf="estado.invalid && formDir.submitted"
                class="validation-error"
              >
                <p *ngIf="estado.errors?.['required']" class="text-error">
                  Campo Obrigatório.
                </p>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-12">
              <label class="form-label">Endereço </label>
              <input
                type="text"
                class="form-control"
                placeholder="Escreva O Endereço"
                name="endereco"
                [(ngModel)]="entidade.endereco"
                formControlName="endereco"
              />
              <div
                *ngIf="endereco.invalid && formDir.submitted"
                class="validation-error"
              >
                <p *ngIf="endereco.errors?.['required']" class="text-error">
                  Campo Obrigatório.
                </p>
                <p *ngIf="endereco.errors?.pattern" class="text-error">
                  O Campo Não Pode Conter Apenas Espaços Em Branco.
                </p>
                <p *ngIf="endereco.errors?.minlength" class="text-error">
                  O Campo Deve Conter No Mínimo 2 Caracteres.
                </p>

                <p *ngIf="endereco.errors?.maxlength" class="text-error">
                  O Campo Deve Conter No Máximo 255 Caracteres.
                </p>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary me-1"
              (click)="modalFormulario.hide()"
            >
              Cancelar
            </button>
            <button type="submit" id="addContact-btn" class="btn btn-success">
              Salvar
            </button>
            <!-- end modal-content -->
          </div>
          <!-- Row -->
        </form>
      </div>
      <!-- end modal body -->
    </div>
    <!-- end modal-dialog -->
  </div>
</div>

<div
  bsModal
  #removeItemModal="bs-modal"
  class="modal fade"
  id="removeItemModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body px-4 py-5 text-center">
        <button
          type="button"
          class="btn-close position-absolute end-0 top-0 m-3"
          (click)="removeItemModal.hide()"
        ></button>
        <div class="avatar-sm mb-4 mx-auto">
          <div
            class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3"
          >
            <i class="mdi mdi-trash-can-outline"></i>
          </div>
        </div>
        <p class="text-muted font-size-16 mb-4">
          Tem A Certeza Que Deseja
          {{ recoverOrRemoveItem === "recover" ? "recuperar" : "remover" }}
          Este ítem?
        </p>
        <div class="hstack gap-2 justify-content-center mb-0">
          <button
            type="button"
            (click)="remove()"
            [ngClass]="
              recoverOrRemoveItem === 'recover'
                ? 'btn btn-success me-1'
                : 'btn btn-danger me-1'
            "
            id="remove-item"
          >
            {{ recoverOrRemoveItem === "recover" ? "Recuperar" : "Remover" }}
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="removeItemModal.hide()"
          >
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--

  <div id="printableArea" style=" margin-top: 20px ; padding: 0px; border: 1px #222 solid ; width: 300px;">

    <div  style="font-size: 10px ;width: 200px; height: 200px; font-weight: bold; color: black; margin-left: 30px ; ">

        <div> INAGBE </div>

        <img style="margin-top: 0px; padding: 0px;" id="barcode"/>
        <div style="margin-left: 15px;"> 20240327001000042 </div>
        <div>
          <span  style=" float: left; margin-right: 20px;" > Original </span>    <span>2024-04-21 10:40 </span>
        </div>
      </div>


  </div>

  <input class="btn btn-primary w-md ms-1"  type="button" (click)="printDiv('printableArea')"   value="print a div!" />

  -->
