<div class="container-fluid">
    <!-- start page title -->
    <app-page-title
      title="Configuração Actividades"
      [breadcrumbItems]="breadCrumbItems"
    ></app-page-title>
    <!-- end page title -->
  
    <div class="row">    
  
      <div class="col-xl-3 col-sm-6">
        <div class="card card-statistics border border-primary">
          <div class="card-body">
            <div class="text-center p-2">
              <div class="mb-2">
                <img
                  src="assets/images/file-icon/departamento.png"
                  alt="png-img"
                />
              </div>
              <h4 class="mb-0">Estados da tarefa</h4>
              <p class="mb-2">Gerenciar os estados das tarefas de actividades</p>
              <a (click)="TarefaEstado()" class="btn btn-light">Entrar</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-xl-3 col-sm-6">
        <div class="card card-statistics border border-primary">
          <div class="card-body">
            <div class="text-center p-2">
              <div class="mb-2">
                <img
                  src="assets/images/file-icon/departamento.png"
                  alt="png-img"
                />
              </div>
              <h4 class="mb-0">Tipos de Tarefa</h4>
              <p class="mb-2">Gerenciar os tipos de tarefa de actividades</p>
              <a (click)="TarefaTipo()" class="btn btn-light">Entrar</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-xl-3 col-sm-6">
        <div class="card card-statistics border border-primary">
          <div class="card-body">
            <div class="text-center p-2">
              <div class="mb-2">
                <img
                  src="assets/images/file-icon/departamento.png"
                  alt="png-img"
                />
              </div>
              <h4 class="mb-0">Tipos de Actividade</h4>
              <p class="mb-2">Gerenciar os tipos de actividade</p>
              <a (click)="TipoActividade()" class="btn btn-light">Entrar</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6">
        <div class="card card-statistics border border-primary">
          <div class="card-body">
            <div class="text-center p-2">
              <div class="mb-2">
                <img
                  src="assets/images/file-icon/departamento.png"
                  alt="png-img"
                />
              </div>
              <h4 class="mb-0">Areas de Actividade</h4>
              <p class="mb-2">Gerenciar as areas de actividade</p>
              <a (click)="AreaActividade()" class="btn btn-light">Entrar</a>
            </div>
          </div>
        </div>
      </div>
    <!-- end row -->
  </div>
  
