<div class="container-fluid">
    <app-page-title
      title="Gerir Funcionário"
      [breadcrumbItems]="breadCrumbItems"
    ></app-page-title>
  
    <div class="d-flex justify-content-end mb-2">
      <div class="search-box me-2 mb-2 d-inline-block">
        <a
          (click)="openModal(false)"
          href="javascript: void(0);"
          class="bg-primary d-flex justify-content-center"
          style="height: 40px; width: 40px; border-radius: 100%"
        >
          <i
            class="bx bx-plus-medical font-size-16 text-white align-middle align-self-center"
          ></i>
        </a>
      </div>
  
    </div>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-lg-3">
                    <label class="form-label">
                      Nome
                    </label>
                    <input
                      type="Text"
                      formControlName="name_code"
                      placeholder="Pesquisar por nome, Ndi"
                      class="form-control"
                      [(ngModel)]="filtro.name_code"
                    />                
                </div>
                <div class="col-lg-3">
                  <label class="form-label">
                     Area
                  </label>
                  <ng-select
                    [items]="base_areas"
                    bindLabel="nome"
                    bindValue="id"
                    formControlName="base_area_id"
                    placeholder="-- seleciona uma opção --"
                    [(ngModel)]="filtro.area_code"
                  >
                  </ng-select>                  
              </div>
              <div class="col-lg-3">
                <label class="form-label">
                  Categoria
                </label>
                <ng-select
                  [items]="categorias"
                  bindLabel="nome"
                  bindValue="id"
                  formControlName="base_area_id"
                  placeholder="-- seleciona uma opção --"
                  [(ngModel)]="filtro.categoria_code"
                >
                </ng-select>                  
            </div>
                <div class="col-lg-3">
                  <label class="form-label">Estado:</label>
                  <select
                    class="form-control"
                    [(ngModel)]="filtro.estado"
                    placeholder="-- seleciona uma opção --"
                  >
                    <option value="0">Inativo</option>
                    <option value="1">Ativo</option>
                  </select>
                </div>
                <div class="col-lg-2 d-flex align-self-end mt-3">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="pesquisar()"
                  >
                    Pesquisar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- end select2 -->
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div class="d-flex flex-row-reverse bd-highlight mb-2">
                <div class="p-0 bd-highlight">
                  <select
                    (change)="onTableSizeChange($event)"
                    class="form-select"
                  >
                    <option *ngFor="let size of tableSizes" [ngValue]="size">
                      {{ size }}
                    </option>
                  </select>
                </div>
              </div>
  
              <table class="table table-sm table-bordered table-hover">
                <thead class="table-info">
                  <tr>
                    <th>Item</th>
                    <th>Nome</th>
                    <th>NDI</th>
                    <th>Telefone</th>
                    <th>Genero</th>
                    <th>Area</th>
                    <th>Categoria</th>
                    <th>Estado</th>
                    <th>Acção</th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr
                    *ngFor="
                      let data of funcionarios
                        | paginate
                          : {
                              itemsPerPage: filtro.pagesize,
                              currentPage: filtro.page,
                              totalItems: filtro.total_itens
                            }
                    "
                  >
                    <td>{{ data?.id }}</td>
                    <td>{{ data?.pessoa?.nome }}</td>
                    <td>{{ data?.pessoa?.ndi }}</td>
                    <td>{{ data?.pessoa?.telefone_principal }}</td>
                    <td>{{ data?.pessoa?.genero == "M"?"Masculino":"Femenino" }}</td>
                    <td>{{ data?.area?.nome }}</td>
                    <td>{{ data?.categoria?.nome }}</td>
                    <td>{{ data?.estado == "0" ? "Inativo" : "Ativo" }}</td>
                    <td>
                      <div dropdown class="dropdown">
                        <a
                          dropdownToggle
                          href="javascript: void(0);"
                          class="dropdown-toggle card-drop px-2 show"
                          aria-expanded="true"
                        >
                          <i class="mdi mdi-dots-horizontal font-size-18"></i>
                        </a>
                        <ul
                          *dropdownMenu
                          class="dropdown-menu dropdown-menu-end show"
                          style="
                            position: absolute;
                            inset: 0px 0px auto auto;
                            margin: 0px;
                            transform: translate(0px, 31.25px);
                          "
                          placement="bottom-end"
                        >
                          <li>
                            <a
                              href="javascript:void(0);"
                              (click)="editUser(data, true)"
                              class="dropdown-item edit-list"
                              data-edit-id="8"
                              ><i
                                class="mdi mdi-pencil font-size-16 text-success me-1"
                              ></i>
                              Editar</a
                            >
                          </li>
                          <li *ngIf="data?.estado === 1">
                            <a
                              href="javascript:void(0);"
                              (click)="questionsToremoveItem(data, 'remove')"
                              class="dropdown-item remove-list"
                              data-remove-id="8"
                              ><i
                                class="mdi mdi-trash-can font-size-16 text-danger me-1"
                              ></i>
                              Deletar</a
                            >
                          </li>
  
                          <li *ngIf="data?.estado === 0">
                            <a
                              href="javascript:void(0);"
                              (click)="questionsToremoveItem(data, 'recover')"
                              class="dropdown-item remove-list"
                              data-remove-id="8"
                            >
                              <i
                                class="mdi mdi-recycle font-size-16 text-success me-1"
                              ></i>
                              Recuperar</a
                            >
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p class="mt-3">
                Total: <b>{{ filtro.total_itens }}</b>
              </p>
  
              <div
                class="pagination pagination-rounded justify-content-center mt-4"
              >
                <pagination-controls
                  [responsive]="true"
                  previousLabel="Anterior"
                  nextLabel="Próximo"
                  (pageChange)="onTableDataChange($event)"
                >
                </pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  
  <!-- Modal -->
  <form (ngSubmit)="save()" [formGroup]="momentForm" #formDir="ngForm">
    <!-- MOdal dados pessoa -->
    <div
    bsModal
    #modalFormulario="bs-modal"
    class="modal fade"
    id="modalFormulario"
    tabindex="-1"
    aria-labelledby="modalFormulario"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newContactModalLabel">
            {{ editar ? "Editar" : "Novo" }}
            Funcionário
          </h5>
          <button
            type="button"
            class="btn-close"
            (click)="modalFormulario.hide()"
          ></button>
        </div>
        <div class="modal-body">

          <div class="row mb-3">
            <div class="col-md-4">
              <label class="form-label" for="remetente"
                >Nome <span class="text-danger">*</span></label
              >
              <input
                id="nome"
                type="text"
                class="form-control"
                placeholder="Escreva o nome"
                name="nome"
                [(ngModel)]="funcionario.nome"
                formControlName="nome"
              />
              <div
                *ngIf="nome.invalid && formDir.submitted"
                class="validation-error"
              >
                <p *ngIf="nome.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>
                <p *ngIf="nome.errors?.pattern" class="text-error">
                  O Campo não pode conter apenas espaços em branco.
                </p>

                <p *ngIf="nome.errors?.minlength" class="text-error">
                  O campo deve conter no mínimo 2 caracteres.
                </p>

                <p *ngIf="nome.errors?.['maxlength']" class="text-error">
                  O campo deve conter no máximo 255 caracteres.
                </p>
              </div>
            </div>

            <div class="col-md-4">
              <label class="form-label" for="remetente"
              >Username <span class="text-danger">*</span></label
            >
            <input
              id="nome"
              type="text"
              class="form-control"
              placeholder="Escreva o Username"
              name="username"
              [(ngModel)]="funcionario.username"
              formControlName="username"
            />
            <div
              *ngIf="username.invalid && formDir.submitted"
              class="validation-error"
            >
              <p *ngIf="username.errors?.['required']" class="text-error">
                Campo obrigatório.
              </p>
              <p *ngIf="username.errors?.pattern" class="text-error">
                O Campo não pode conter apenas espaços em branco.
              </p>

              <p *ngIf="username.errors?.minlength" class="text-error">
                O campo deve conter no mínimo 2 caracteres.
              </p>

              <p *ngIf="username.errors?.['maxlength']" class="text-error">
                O campo deve conter no máximo 255 caracteres.
              </p>
            </div>
            </div>

            <div class="col-md-4">
              <label class="form-label" for="remetente"
              >Email <span class="text-danger">*</span></label
            >
            <input
              id="email"
              type="email"
              class="form-control"
              placeholder="Escreva o email"
              name="email"
              [(ngModel)]="funcionario.email"
              formControlName="email"
            />
            <div
              *ngIf="email.invalid && formDir.submitted"
              class="validation-error"
            >
              <p *ngIf="email.errors?.['required']" class="text-error">
                Campo obrigatório.
              </p>
              <p *ngIf="email.errors?.pattern" class="text-error">
                O Campo não pode conter apenas espaços em branco.
              </p>

              <p *ngIf="email.errors?.email" class="text-error">
                O campo deve ser do tipo Email.
              </p>
            </div>
            </div>

           
          </div>

            
          <div class="row mb-3">
            <div class="col-md-4">
              <label class="form-label" for="remetente"
                >Pai</label
              >
              <input
                id="pai"
                type="text"
                class="form-control"
                placeholder="Escreva o nome do Pai"
                name="pai"
                [(ngModel)]="funcionario.pai"
                formControlName="pai"
              />
              <div
                *ngIf="pai.invalid && formDir.submitted"
                class="validation-error"
              >
                <p *ngIf="pai.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>
                <p *ngIf="pai.errors?.pattern" class="text-error">
                  O Campo não pode conter apenas espaços em branco.
                </p>
                <p *ngIf="pai.errors?.minlength" class="text-error">
                  O campo deve conter no mínimo 2 caracteres.
                </p>

                <p *ngIf="pai.errors?.['maxlength']" class="text-error">
                  O campo deve conter no máximo 255 caracteres.
                </p>
              </div>
            </div>  
            <div class="col-md-4">
              <label class="form-label" for="remetente"
                >Mãe</label
              >
              <input
                id="mae"
                type="text"
                class="form-control"
                placeholder="Escreva o nome do Pai"
                name="mae"
                [(ngModel)]="funcionario.mae"
                formControlName="mae"
              />
              <div
                *ngIf="mae.invalid && formDir.submitted"
                class="validation-error"
              >
                <p *ngIf="mae.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>
                <p *ngIf="mae.errors?.pattern" class="text-error">
                  O Campo não pode conter apenas espaços em branco.
                </p> 

                <p *ngIf="mae.errors?.minlength" class="text-error">
                  O campo deve conter no mínimo 2 caracteres.
                </p>

                <p *ngIf="mae.errors?.['maxlength']" class="text-error">
                  O campo deve conter no máximo 255 caracteres.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <label class="form-label"
                >Género<span class="text-danger">*</span>
              </label>
              <ng-select
                [items]="generoList"
                name="genero"
                bindLabel="nome"
                bindValue="id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="funcionario.genero"
                formControlName="genero"
              >
              </ng-select>
              <div
                *ngIf="genero.invalid && formDir.submitted"
                class="validation-error"
              >
                <p *ngIf="genero.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>
              </div>
            </div>            
          </div>

            <div class="row mb-3">   
              <div class="col-md-4">
                <label class="form-label"
                  >Tipo de identificação<span class="text-danger">*</span>
                </label>
                <ng-select
                  [items]="tipoIdentificacaoList" 
                  name="tipo_identificacao"
                  bindLabel="nome"
                  bindValue="id"
                  placeholder="-- seleciona uma opção --"
                  [(ngModel)]="funcionario.tipo_identificacao"
                  formControlName="tipo_identificacao"
                >
                </ng-select>
                <div
                  *ngIf="tipo_identificacao.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p
                    *ngIf="tipo_identificacao.errors?.['required']"
                    class="text-error"
                  >
                    Campo obrigatório.
                  </p>
                </div>
              </div>          
              <div class="col-md-4">
                <label class="form-label" for="remetente"
                  >Ndi <span class="text-danger">*</span></label
                >
                <input
                  id="ndi"
                  type="text "
                  class="form-control"
                  placeholder="Escreva o ndi"
                  name="ndi"
                  [(ngModel)]="funcionario.ndi"
                  formControlName="ndi"
                />
                <div
                  *ngIf="ndi.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p *ngIf="ndi.errors?.['required']" class="text-error">
                    Campo obrigatório.
                  </p>
                  <p *ngIf="ndi.errors?.pattern" class="text-error">
                    O Campo não pode conter apenas espaços em branco.
                  </p>
  
                  <p *ngIf="ndi.errors?.['minlength']" class="text-error">
                    O campo deve conter no minimo 2 caracteres.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                  <label class="form-label"
                    >Data de emissão <span class="text-danger">*</span>
                  </label>
                  <input
                    id="data_emissao"
                    type="date"
                    class="form-control"
                    name="data_emissao"
                    bindLabel="nome"
                    bindValue="id"
                    placeholder="-- seleciona uma opção --"
                    [(ngModel)]="funcionario.data_emissao"
                    formControlName="data_emissao"
                  />
                  <div
                    *ngIf="data_emissao.invalid && formDir.submitted"
                    class="validation-error"
                  >
                    <p *ngIf="data_emissao.errors?.['required']" class="text-error">
                      Campo obrigatório.
                    </p>
                  </div>
              </div>    
            </div>

  
            <div class="row mb-3">
              <div class="col-md-4">
                <label class="form-label"
                  >Estado civil<span class="text-danger">*</span></label
                >
                <ng-select
                  [items]="estadoCivilList"
                  name="estdo_civil"
                  bindLabel="nome"
                  bindValue="id"  
                  placeholder="-- seleciona uma opção --"
                  [(ngModel)]="funcionario.estado_civil"
                  formControlName="estado_civil"
                >
                </ng-select>
                <div
                  *ngIf="estado_civil.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p *ngIf="estado_civil.errors?.['required']" class="text-error">
                    Campo obrigatório.
                  </p>
                </div>
              </div> 
              <div class="col-md-4">
                <label class="form-label"
                  >Data de nascimento <span class="text-danger">*</span>
                </label>
                <input
                  id="data_nascimento"
                  type="date"
                  class="form-control"
                  name="data_nascimento"
                  bindLabel="nome"
                  bindValue="id"
                  placeholder="-- seleciona uma opção --"
                  [(ngModel)]="funcionario.data_nascimento"
                  formControlName="data_nascimento"
                />
                <div
                  *ngIf="data_nascimento.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p
                    *ngIf="data_nascimento.errors?.['required']"
                    class="text-error"
                  >
                    Campo obrigatório.
                  </p>
                </div>
              </div>
  
              <div class="col-md-4">
                <label class="form-label"
                  >Municipio<span class="text-danger">*</span></label
                >
                <ng-select
                  [items]="municipios" 
                  name="ocorrencia.base_municipio_id"
                  bindLabel="nome"
                  bindValue="id"
                  placeholder="-- seleciona uma opção --"
                  [(ngModel)]="funcionario.base_municipio_id"
                  formControlName="base_municipio_id"
                >
                </ng-select>
  
                <div
                  *ngIf="base_municipio_id.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p
                    *ngIf="base_municipio_id.errors?.['required']"
                    class="text-error"
                  >
                    Campo obrigatório.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-secondary me-1"
                (click)="modalFormulario.hide()"
              >
                Cancelar
              </button>
              <button type="button" id="addContact-btn" (click)="nextForm()" class="btn btn-primary">                
                Next<i class='bx bx-right-arrow-alt font-size-16 text-white align-middle align-self-center'></i>
              </button>
              <!-- end modal-content -->
            </div>  
        </div>
        <!-- end modal body -->
      </div>
  
      <!-- end modal-dialog -->
    </div>
  </div>

    <!-- Modal dados do funcionario -->
    <div
      bsModal
      #newDocumentModal="bs-modal"
      class="modal fade"
      id="newContactModal"
      tabindex="-1"
      aria-labelledby="newDocumentModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newDocumentModal">
              {{ editar ? "Editar" : "Novo" }}
    
              Funcionário
            </h5>
            <button
              type="button"
              class="btn-close"
              (click)="newDocumentModal.hide()"
            ></button>
          </div>
          <div class="modal-body">          
  
            <div class="row mb-3">
              <div class="col-md-4">
                <label class="form-label" for="remetente"
                  >Telefone principal <span class="text-danger">*</span></label
                >
                <input
                  id="telefone_alternativo"
                  type="text"
                  class="form-control"
                  placeholder="Escreva o telefone"
                  [(ngModel)]="funcionario.telefone_principal"
                  formControlName="telefone_principal"
                />
                <div
                  *ngIf="telefone_principal.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p
                    *ngIf="telefone_principal.errors?.['required']"
                    class="text-error"
                  >
                    Campo obrigatório.
                  </p>
                  <p *ngIf="telefone_principal.errors?.pattern" class="text-error">
                    O Campo não pode conter apenas espaços em branco.
                  </p>  
                  <p
                    *ngIf="telefone_principal.errors?.minlength"
                    class="text-error"
                  >
                    O campo deve conter no mínimo 9 caracteres.
                  </p>
  
                  <p
                    *ngIf="telefone_principal.errors?.['maxlength']"
                    class="text-error"
                  >
                    O campo deve conter no máximo 255 caracteres.
                  </p>
                </div>
              </div>
  
              <div class="col-md-4">
                <label class="form-label" for="remetente"
                  >Telefone alternativo</label
                >
                <input
                  id="telefone_alternativo"
                  type="text"
                  class="form-control"
                  placeholder="Escreva o Telefone alternativo"
                  [(ngModel)]="funcionario.telefone_alternativo"
                  formControlName="telefone_alternativo"
                />
                <div
                  *ngIf="telefone_alternativo.invalid && formDir.submitted"
                  class="validation-error"
                >
                <p *ngIf="telefone_alternativo.errors?.pattern" class="text-error">
                  O Campo não pode conter apenas espaços em branco.
                </p>
                  <p
                    *ngIf="telefone_alternativo.errors?.['maxlength']"
                    class="text-error"
                  >
                    O campo deve conter no máximo 255 caracteres.
                  </p>
                </div>
              </div>
  
              <div class="col-md-4">
                <label class="form-label" for="remetente"
                  >Outro contacto</label
                >
                <input
                  id="outro_contacto"
                  type="text"
                  class="form-control"
                  placeholder="Escreva um outro contacto"
                  name="mae"
                  [(ngModel)]="funcionario.outro_contacto"
                  formControlName="outro_contacto"
                />
                <div
                  *ngIf="outro_contacto.invalid && formDir.submitted"
                  class="validation-error"
                >
                <p *ngIf="outro_contacto.errors?.pattern" class="text-error">
                  O Campo não pode conter apenas espaços em branco.
                </p>
                  <p
                    *ngIf="outro_contacto.errors?.['maxlength']"
                    class="text-error"
                  >
                    O campo deve conter no máximo 255 caracteres.
                  </p>
                </div>
              </div>           
            </div>
              
              <div class="row mb-3"> 
                <div class="col-md-4">
                  <label class="form-label" for="remetente"
                    >Banco</label
                  >
                  <input
                    id="endereco"
                    type="text"
                    class="form-control"
                    placeholder="Escreva o banco"
                    name="banco"
                    [(ngModel)]="funcionario.banco"
                    formControlName="banco"
                  />
                  <div
                    *ngIf="banco.invalid && formDir.submitted"
                    class="validation-error"
                  >                   
                    <p *ngIf="banco.errors?.pattern" class="text-error">
                      O Campo não pode conter apenas espaços em branco.
                    </p>                   
                    <p *ngIf="banco.errors?.['maxlength']" class="text-error">
                      O campo deve conter no máximo 255 caracteres.
                    </p>
                  </div>
                </div> 
                <div class="col-md-8">
                  <label class="form-label" for="remetente"
                    >Endereço <span class="text-danger">*</span></label
                  >
                  <input
                    id="endereco"
                    type="text"
                    class="form-control"
                    placeholder="Escreva o endereço"
                    name="endereco"
                    [(ngModel)]="funcionario.endereco"
                    formControlName="endereco"
                  />
                  <div
                    *ngIf="endereco.invalid && formDir.submitted"
                    class="validation-error"
                  >
                    <p *ngIf="endereco.errors?.['required']" class="text-error">
                      Campo obrigatório.
                    </p>
                    <p *ngIf="endereco.errors?.pattern" class="text-error">
                      O Campo não pode conter apenas espaços em branco.
                    </p>
                    <p *ngIf="endereco.errors?.minlength" class="text-error">
                      O campo deve conter no mínimo 2 caracteres.
                    </p>
    
                    <p *ngIf="endereco.errors?.['maxlength']" class="text-error">
                      O campo deve conter no máximo 255 caracteres.
                    </p>
                  </div>
                </div> 
                </div>
                <div class="row mb-3"> 
              <div class="col-md-4">
                <label class="form-label">
                  Categoria <span class="text-danger">*</span>
                </label>
              <ng-select
                [items]="categorias"
                bindLabel="nome"
                bindValue="id"
                formControlName="rh_categoria_id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="funcionario.rh_categoria_id"
              >
              </ng-select>
              <div *ngIf="rh_categoria_id.invalid && formDir.submitted" class="validation-error">
                <p *ngIf="rh_categoria_id.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <label class="form-label">
                Base Area <span class="text-danger">*</span>
              </label>
            <ng-select
              [items]="base_areas"
              bindLabel="nome"
              bindValue="id"
              formControlName="base_area_id"
              placeholder="-- seleciona uma opção --"
              [(ngModel)]="funcionario.base_area_id"
            >
            </ng-select>
            <div *ngIf="base_area_id.invalid && formDir.submitted" class="validation-error">
              <p *ngIf="base_area_id.errors?.['required']" class="text-error">
                Campo obrigatório.
              </p>
            </div>
          </div>
                <div class="col-md-4">
                  <label class="form-label"
                    >Estado:<span class="text-danger">*</span></label
                  >
                  <select
                    class="form-control"
                    [(ngModel)]="funcionario.estado"
                    formControlName="estado"
                    placeholder="-- seleciona uma opção --"
                  >
                    <option value="0">Inativo</option>
                    <option value="1">Ativo</option>
                  </select>
                  <div
                    *ngIf="estado.invalid && formDir.submitted"
                    class="validation-error"
                  >
                    <p *ngIf="estado.errors?.['required']" class="text-error">
                      Campo obrigatório.
                    </p>
                  </div>
                </div>
              </div>
    
            
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-outline-secondary me-1"
                  (click)="newDocumentModal.hide(); modalFormulario.show(); "
                >
                <i class='bx bx-left-arrow-alt font-size-16 text-black align-middle align-self-center'></i>
                preview
                </button>
                <button type="submit" id="addContact-btn" class="btn btn-success">
                  Salvar
                </button>
                <!-- end modal-content -->
              </div>
              <!-- Row -->
            
          </div>
          <!-- end modal body -->
        </div>
    
        <!-- end modal-dialog -->
      </div>
    </div>
  </form>
  <div
    bsModal
    #removeItemModal="bs-modal"
    class="modal fade"
    id="removeItemModal"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-body px-4 py-5 text-center">
          <button
            type="button"
            class="btn-close position-absolute end-0 top-0 m-3"
            (click)="removeItemModal.hide()"
          ></button>
          <div class="avatar-sm mb-4 mx-auto">
            <div
              class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3"
            >
              <i class="mdi mdi-trash-can-outline"></i>
            </div>
          </div>
          <p class="text-muted font-size-16 mb-4">
            Tem a certeza que deseja
            {{ recoverOrRemoveItem === "recover" ? "recuperar" : "remover" }}
            este ítem?
          </p>
  
          <div class="hstack gap-2 justify-content-center mb-0">
            <button
              type="button"
              (click)="removeItem()"
              [ngClass]="
                recoverOrRemoveItem === 'recover'
                  ? 'btn btn-success me-1'
                  : 'btn btn-danger me-1'
              "
              id="remove-item"
            >
              {{ recoverOrRemoveItem === "recover" ? "Recuperar" : "Remover" }}
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              (click)="removeItemModal.hide()"
            >
              Fechar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  