<div class="container-fluid">
  <div class="d-flex justify-content-between mb-2">
    <app-page-title title="Registar o Despacho"></app-page-title>
    <div class="search-box me-2 mb-2 d-inline-block">
      <a
        href="/#/gd/tramitacao"
        class="bg-primary d-flex justify-content-center"
        style="height: 40px; width: 40px; border-radius: 100%"
      >
        <i
          class="bx bx-arrow-back font-size-16 text-white align-middle align-self-center"
        ></i>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-3">
              <label>Tipo de Documento </label>
              <br />
              <span class="title-item">
                {{ documento.gdTipoDocumento?.nome }}
              </span>
            </div>
            <div class="col-md-3">
              <label>Acesso </label>
              <br />
              <span class="title-item">
                {{ documento.gdDocumentoAcesso?.nome }}
              </span>
            </div>
            <div class="col-md-3">
              <label>Prioridade </label>
              <br />
              <span class="title-item">
                {{ documento.gdPrioridadeDocumento?.nome }}
              </span>
            </div>
            <div class="col-md-3">
              <label>Via Transmissão </label>
              <br />
              <span class="title-item">
                {{ documento.gdDocumentoViaTransmissoe?.nome }}
              </span>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <label>Remetente </label>
              <br />
              <span class="title-item"> {{ documento.remetente }} </span>
            </div>
            <div class="col-md-3">
              <label>Destinatário </label>
              <br />
              <span class="title-item"> {{ documento.destinatario }} </span>
            </div>

            <div class="col-md-3">
              <label>Telefone </label>
              <br />
              <span class="title-item">
                {{ documento.telefone ? documento.telefone : "N/D" }}
              </span>
            </div>

            <div class="col-md-3">
              <label>Email</label>
              <br />
              <span class="title-item">
                {{ documento.email ? documento.email : "N/D" }}
              </span>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <label>Estado </label>
              <br />
              <span class="title-item">
                {{ documento.estado === 0 ? "Inativo" : "Ativo" }}
              </span>
            </div>

            <div class="col-md-3">
              <label>Nº Documento </label>
              <br />
              <span class="title-item"> {{ documento.numero_documento }} </span>
            </div>
            <div class="col-md-3">
              <label>Data do Documento </label>
              <br />
              <span class="title-item"> {{ documento.data_documento }} </span>
            </div>
            <div class="col-md-3">
              <label>Data de Entrada/Saida </label>
              <br />
              <span class="title-item">
                {{ documento.data_entrada_saida }}
              </span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label>Origem do Documento </label>

              <br />
              <span class="title-item">
                {{ documento.origem_documento === 0 ? "Interno" : "Externo" }}
              </span>
            </div>
            <div class="col-md-9">
              <label>Assunto </label>
              <br />
              <span class="title-item"> {{ documento.assunto }} </span>
            </div>
          </div>

          <!-- Row -->
        </div>
      </div>
      <!-- end select2 -->
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="save()" [formGroup]="momentForm" #formDir="ngForm">
            <div class="row mb-3">
              <div class="col-md-4">
                <label class="form-label"
                  >Natureza da Actividade <span class="text-danger">*</span>
                </label>
                <ng-select
                  [items]="actividades"
                  name="actividade_tipo_id"
                  bindLabel="nome"
                  bindValue="id"
                  value="actividade_tipo_id"
                  placeholder="-- seleciona uma opção --"
                  [multiple]="false"
                  [(ngModel)]="documento.actividade_tipo_id"
                  value="actividade_tipo_id"
                  formControlName="actividade_tipo_id"
                >
                </ng-select>

                <div
                  *ngIf="actividade_tipo_id.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p
                    *ngIf="actividade_tipo_id.errors?.['required']"
                    class="text-error"
                  >
                    Campo Obrigatório.
                  </p>
                </div>
              </div>

              <div class="col-md-4">
                <label class="form-label"
                  >Periodo de Tratamento
                  <span class="text-danger">*</span></label
                >

                <select
                  class="form-select"
                  name="periodo_tratamento"
                  [(ngModel)]="documento.periodo_tratamento"
                  formControlName="periodo_tratamento"
                >
                  <option value="" disabled selected>
                    -- Seleciona uma opção --
                  </option>
                  <option value="0">Hoje</option>
                  <option value="1">1 Dias</option>

                  <option value="2">2 Dias</option>
                  <option value="3">3 Dias</option>

                  <option value="4">4 Dias</option>
                  <option value="5">5 Dias</option>

                  <option value="7">7 Dias</option>
                  <option value="10">10 Dias</option>

                  <option value="15">15 Dias</option>
                  <option value="20">20 Dias</option>
                  <!-- Itera sobre os itens do array via_transmissao_documentos e cria uma opção para cada um -->
                </select>

                <div
                  *ngIf="periodo_tratamento.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p
                    *ngIf="periodo_tratamento.errors?.['required']"
                    class="text-error"
                  >
                    Campo Obrigatório.
                  </p>
                </div>
              </div>

              <div class="col-md-4">
                <label class="form-label">Data de Despacho </label>
                <span class="text-danger">*</span>
                <input
                  type="date"
                  class="form-control"
                  name="data_despacho"
                  [min]="documento.data_entrada_saida"
                  [max]="maxDate"
                  [(ngModel)]="documento.data_despacho"
                  formControlName="data_despacho"
                />

                <div
                  *ngIf="data_despacho.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p
                    *ngIf="data_despacho.errors?.['required']"
                    class="text-error"
                  >
                    Campo Obrigatório.
                  </p>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-12">
                <label class="form-label"
                  >Descricao do Despacho
                  <span class="text-danger">*</span></label
                >
                <textarea
                  class="form-control"
                  placeholder="Escreva a Descrição"
                  name="despacho_descricao"
                  [(ngModel)]="documento.despacho_descricao"
                  cols="30"
                  rows="5"
                  formControlName="despacho_descricao"
                >
                </textarea>
                <div
                  *ngIf="despacho_descricao.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p
                    *ngIf="despacho_descricao.errors?.pattern"
                    class="text-error"
                  >
                    O Campo Descrição não Pode Conter Apenas Espaços em Branco.
                  </p>
                  <p
                    *ngIf="despacho_descricao.errors?.['required']"
                    class="text-error"
                  >
                    Campo Obrigatório.
                  </p>

                  <p
                    *ngIf="despacho_descricao.errors?.minlength"
                    class="text-error"
                  >
                    O Campo Deve Conter no Mínimo 2 Caracteres.
                  </p>

                  <p
                    *ngIf="despacho_descricao.errors?.maxlength"
                    class="text-error"
                  >
                    O Campo Deve Conter no Máximo 65535 Caracteres.
                  </p>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label"
                  >Departamento/Área a Despachar
                  <span class="text-danger">*</span>
                </label>

                <ng-select
                  [items]="areas"
                  name="area"
                  bindLabel="nome"
                  bindValue="id"
                  placeholder="-- seleciona uma opção --"
                  [multiple]="true"
                  [(ngModel)]="documento.base_area_despacho"
                  value="base_area_despacho"
                  formControlName="base_area_despacho"
                >
                </ng-select>

                <div
                  *ngIf="base_area_despacho.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p
                    *ngIf="base_area_despacho.errors?.['required']"
                    class="text-error"
                  >
                    Campo Obrigatório.
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <label class="form-label"
                  >Funcionário a Despachar
                  <!-- <span class="text-danger">*</span> -->
                </label>
                <ng-select
                  [items]="users"
                  name="area"
                  bindLabel="email"
                  bindValue="id"
                  placeholder="-- seleciona uma opção --"
                  [multiple]="true"
                  [(ngModel)]="documento.rh_funcionario_despacho"
                  value="rh_funcionario_despacho"
                  formControlName="rh_funcionario_despacho"
                >
                </ng-select>

                <div
                  *ngIf="rh_funcionario_despacho.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p
                    *ngIf="rh_funcionario_despacho.errors?.['required']"
                    class="text-error"
                  >
                    Campo Obrigatório.
                  </p>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label"
                  >Departamento/Área Para Conhecimento
                  <!-- <span class="text-danger">*</span> -->
                </label>

                <ng-select
                  [items]="areas"
                  name="area"
                  [multiple]="true"
                  bindLabel="nome"
                  bindValue="id"
                  value="documento.area_despacho_conhecimento"
                  placeholder="-- seleciona uma opção --"
                  [(ngModel)]="documento.base_area_conhecimento"
                  value="base_area_conhecimento"
                  formControlName="base_area_conhecimento"
                >
                </ng-select>

                <div
                  *ngIf="base_area_conhecimento.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p
                    *ngIf="base_area_conhecimento.errors?.['required']"
                    class="text-error"
                  >
                    Campo Obrigatório.
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <label class="form-label"
                  >Funcionário Para Conhecimento
                  <!-- <span class="text-danger">*</span> -->
                </label>
                <ng-select
                  [items]="users"
                  name="area"
                  bindLabel="email"
                  bindValue="id"
                  placeholder="-- seleciona uma opção --"
                  [multiple]="true"
                  [(ngModel)]="documento.rh_funcionario_conhecimento"
                  value="rh_funcionario_conhecimento"
                  formControlName="rh_funcionario_conhecimento"
                >
                </ng-select>
                <div
                  *ngIf="
                    rh_funcionario_conhecimento.invalid && formDir.submitted
                  "
                  class="validation-error"
                >
                  <p
                    *ngIf="rh_funcionario_conhecimento.errors?.['required']"
                    class="text-error"
                  >
                    Campo Obrigatório.
                  </p>
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-end">
              <button type="submit " class="btn btn-success col-md-3">
                Salvar
              </button>
            </div>

            <!-- Row -->
          </form>
        </div>
      </div>
      <!-- end select2 -->
    </div>
  </div>

  <!-- end row -->
</div>
