<div class="container-fluid">
    <!-- start page title -->
    <app-page-title title="Configuração GD" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-3 col-sm-6">
            <div class="card card-statistics border border-primary">
                <div class="card-body">
                    <div class="text-center p-2">
                        <div class="mb-2">
                            <img src="assets/images/file-icon/departamento.png" alt="png-img" />
                        </div>
                        <h4 class="mb-0">Tipo Documento</h4>
                        <p class="mb-2">Cadastro Tipos De Documentos</p>
                        <a (click)="TipoDocumento()" class="btn btn-light">Entrar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card card-statistics border border-primary">
                <div class="card-body">
                    <div class="text-center p-2">
                        <div class="mb-2">
                            <img src="assets/images/file-icon/departamento.png" alt="png-img" />
                        </div>
                        <h4 class="mb-0">Acesso</h4>
                        <p class="mb-2">Cadastro Acesso De Documentos</p>
                        <a (click)="Acesso()" class="btn btn-light">Entrar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card card-statistics border border-primary">
                <div class="card-body">
                    <div class="text-center p-2">
                        <div class="mb-2">
                            <img src="assets/images/file-icon/departamento.png" alt="png-img" />
                        </div>
                        <h4 class="mb-0">Prioridade</h4>
                        <p class="mb-2">Cadastro Prioridade De Documentos</p>
                        <a (click)="Prioridade()" class="btn btn-light">Entrar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card card-statistics border border-primary">
                <div class="card-body">
                    <div class="text-center p-2">
                        <div class="mb-2">
                            <img src="assets/images/file-icon/departamento.png" alt="png-img" />
                        </div>
                        <h4 class="mb-0">Via de Transmissão</h4>
                        <p class="mb-2">Cadastro Via De Transmissão</p>
                        <a (click)="ViaTransmissao()" class="btn btn-light">Entrar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card card-statistics border border-primary">
                <div class="card-body">
                    <div class="text-center p-2">
                        <div class="mb-2">
                            <img src="assets/images/file-icon/departamento.png" alt="png-img" />
                        </div>
                        <h4 class="mb-0">Estado</h4>
                        <p class="mb-2">Cadastro Estados</p>
                        <a (click)="Estado()" class="btn btn-light">Entrar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card card-statistics border border-primary">
                <div class="card-body">
                    <div class="text-center p-2">
                        <div class="mb-2">
                            <img src="assets/images/file-icon/departamento.png" alt="png-img" />
                        </div>
                        <h4 class="mb-0">Documento Atividade</h4>
                        <p class="mb-2">Cadastro Documento De Atividade </p>
                        <a (click)="DocumentoAtividade()" class="btn btn-light">Entrar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card card-statistics border border-primary">
                <div class="card-body">
                    <div class="text-center p-2">
                        <div class="mb-2">
                            <img src="assets/images/file-icon/departamento.png" alt="png-img" />
                        </div>
                        <h4 class="mb-0">Documento Despacho</h4>
                        <p class="mb-2">Cadastro Documento Despachos</p>
                        <a (click)="DocumentoDespacho()" class="btn btn-light">Entrar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card card-statistics border border-primary">
                <div class="card-body">
                    <div class="text-center p-2">
                        <div class="mb-2">
                            <img src="assets/images/file-icon/departamento.png" alt="png-img" />
                        </div>
                        <h4 class="mb-0">Comunicacação</h4>
                        <p class="mb-2">Cadastro Documentos Comunicação</p>
                        <a (click)="Comunicacao()" class="btn btn-light">Entrar</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- end row -->
    </div>