<div class="topnav">
  <div class="container-fluid">
    <nav class="navbar navbar-light navbar-expand-lg topnav-menu active">
      <div class="collapse navbar-collapse active" id="topnav-menu-content">
        <ul class="navbar-nav">
          @for (item of menuItems; track $index) {
          <ng-container>
            <li class="nav-item">
              <a class="nav-link arrow-none" href="javascript: void(0);" id="topnav-components" [routerLink]="item.link" role="button">
                <i class="bx {{item.icon}} me-2"></i>{{ item.label | translate }}
              </a>
             
            </li>
          </ng-container>}
        </ul>
      </div>
    </nav>
  </div>
</div>