<div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="bg-primary-subtle">
              <div class="row">
                <div class="col-7">
                  <div class="text-primary p-4">
                    <h5 class="text-primary">Bem Vindo  !</h5>
                    <p class="text-muted">Gestão Bibliotecário da UNIA</p>
                  </div>
                </div>
                <div class="col-5 align-self-end">
                  <img src="assets/images/unia.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <div>
                <a >
                  <div class="avatar-md profile-user-wid mb-4">
                    <span class="avatar-title rounded-circle bg-light">
                      <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                    </span>
                  </div>
                </a>
              </div>
              <div class="p-2">
               <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Enter email">
                        @if(submitted && f.password.errors){
                        <div class="invalid-feedback">
                            @if(f.email.errors.required){
                            <div>Email é obrigatório</div>
                            }
                            @if(f.email.errors.email){
                            <div>Email deve ser valido! 
                            </div>}
                        </div>}
                    </div>

                    <div class="mb-3">
                        <div class="float-end">
                            <a routerLink="/login" class="text-muted">Recuperar
                                Palavra Passe?</a>
                        </div>
                        <label for="userpassword">Palavra-Passe</label>
                        <div class="input-group auth-pass-inputgroup">
                            <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter password" aria-label="Password" aria-describedby="password-addon">
                            <button class="btn btn-light ms-0" type="button" id="password-addon">
                                <i class="mdi mdi-eye-outline" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType}" (click)="toggleFieldTextType()"></i>
                            </button>
                            @if(submitted && f.password.errors){
                            <div class="invalid-feedback">
                                @if(f.password.errors.required){
                                <span>PalaVra Passe é obrigatório</span>
                                }
                                @if(f.password.errors.minLength){
                                    <span>Palavra Passe requer no minimo 4 digitos</span>
                                    }
                            </div>}
                        </div>
                    </div>

                    <div class="mt-3 d-grid">
                        <button class="btn btn-primary btn-block" type="submit">Logar</button>
                    </div>

                </form>
              </div>
  
            </div>
          </div>
          <div class="mt-5 text-center">
            <p class="mb-0">©
                {{year}} Skote. Criado por <i class="mdi mdi-heart text-danger"></i>
                GlobalNext</p>
          </div>
  
        </div>
      </div>
    </div>
  
    <!-- end container -->
  </div>
  <!-- end page -->