<div class="container-fluid">
  <div class="d-flex justify-content-between mb-2">
    <app-page-title title="Situação do Documento"></app-page-title>
    <div class="search-box me-2 mb-2 d-inline-block">
      <a
        href="/#/gd/documentos-situacao"
        class="bg-primary d-flex justify-content-center"
        style="height: 40px; width: 40px; border-radius: 100%"
      >
        <i
          class="bx bx-arrow-back font-size-16 text-white align-middle align-self-center"
        ></i>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-3">
              <label>Tipo de Documento </label>
              <br />
              <span class="title-item">
                {{ documento.gdTipoDocumento?.nome }}
              </span>
            </div>
            <div class="col-md-3">
              <label>Acesso </label>
              <br />
              <span class="title-item">
                {{ documento.gdDocumentoAcesso?.nome }}
              </span>
            </div>
            <div class="col-md-3">
              <label>Prioridade </label>
              <br />
              <span class="title-item">
                {{ documento.gdPrioridadeDocumento?.nome }}
              </span>
            </div>
            <div class="col-md-3">
              <label>Via Transmissão </label>
              <br />
              <span class="title-item">
                {{ documento.gdDocumentoViaTransmissoe?.nome }}
              </span>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <label>Remetente </label>
              <br />
              <span class="title-item"> {{ documento.remetente }} </span>
            </div>
            <div class="col-md-3">
              <label>Destinatário </label>
              <br />
              <span class="title-item"> {{ documento.destinatario }} </span>
            </div>

            <div class="col-md-3">
              <label>Telefone </label>
              <br />
              <span class="title-item">
                {{ documento.telefone ? documento.telefone : "N/D" }}
              </span>
            </div>

            <div class="col-md-3">
              <label>Email</label>
              <br />
              <span class="title-item">
                {{ documento.email ? documento.email : "N/D" }}
              </span>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <label>Estado </label>
              <br />
              <span class="title-item">
                {{ documento.estado === 0 ? "Inativo" : "Ativo" }}
              </span>
            </div>

            <div class="col-md-3">
              <label>Nº Documento </label>
              <br />
              <span class="title-item"> {{ documento.numero_documento }} </span>
            </div>
            <div class="col-md-3">
              <label>Data do Documento </label>
              <br />
              <span class="title-item">
                {{ documento.data_documento | date : "dd/MM/yyyy" }}
              </span>
            </div>
            <div class="col-md-3">
              <label>Data de Entrada/Saida </label>
              <br />
              <span class="title-item">
                {{ documento.data_entrada_saida | date : "dd/MM/yyyy" }}
              </span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label>Origem do Documento </label>

              <br />
              <span class="title-item">
                {{ documento.origem_documento === 0 ? "Interno" : "Externo" }}
              </span>
            </div>
            <div class="col-md-9">
              <label>Assunto </label>
              <br />
              <span class="title-item"> {{ documento.assunto }} </span>
            </div>
          </div>

          <!-- Row -->
        </div>
      </div>
      <!-- end select2 -->
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-3">
              <label> Estado  </label>
              <br />
              <span class="title-item text-danger">
               Em Tratamento 
              </span>
            </div>
            <div class="col-md-3">
              <label> Prazo </label>
              <br />
              <span class="title-item text-info">
               Dentro Prazo
              </span>
            </div>

            <div class="col-md-3">
              <label> Data Provavel de Resposta</label>
              <br />
              <span class="title-item text-info"> 15.07.2024
              </span>
            </div>
 
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label>o Utente contactou para saber a resposta ? </label>
              <br />
              <span class="title-item text-danger">
                SIM
              </span>
            </div>
            <div class="col-md-3">
              <label>Quantos Contactos Fez o Utente </label>
              <br />
              <span class="title-item text-danger"> 3
              </span>
            </div> 
          </div>

          <div class="row mb-3">
            <div class="col-md-3 ">
              <label> ter um botão para abrir um modal para prencher a indicação que o utente veio saber da respostas... </label>
              <br />
               
            </div>
          </div>

          <!-- Row -->
        </div>
      </div>
      <!-- end select2 -->
    </div>
  </div>
</div>
