<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a routerLink="/" class="logo logo-dark">
          <span class="logo-sm">
            <img src="assets/images/logo.svg" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo-dark.png" alt="" height="17">
          </span>
        </a>

        <a routerLink="/" class="logo logo-light">
          <span class="logo-sm">
            <img src="assets/images/logo-light.svg" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo-light.png" alt="" height="19">
          </span>
        </a>
      </div>

      <button type="button" class="btn btn-sm px-3 font-size-16 header-item"
        [ngClass]="{ 'd-none': theme === 'horizontal' }" id="vertical-menu-btn" (click)="toggleMobileMenu($event)">
        <i class="fa fa-fw fa-bars"></i>
      </button>

      <!-- App Search-->
      <form class="app-search d-none d-lg-block">
        <div class="position-relative">
          <input type="text" class="form-control" placeholder="{{'HEADER.SEARCH' | translate}}">
          <span class="bx bx-search-alt"></span>
        </div>
      </form>


    </div>

    <div class="d-flex">
      <div class="dropdown d-inline-block d-lg-none ms-2" dropdown>
        <button type="button" class="btn header-item noti-icon" id="page-header-search-dropdown" data-toggle="dropdown"
          aria-haspopup="true" dropdownToggle aria-expanded="false">
          <i class="mdi mdi-magnify"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" *dropdownMenu
          aria-labelledby="page-header-search-dropdown">
          <form class="p-3">
            <div class="m-0">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="procurar ..." aria-label="Recipient's username">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>




      <div class="dropdown d-none d-lg-inline-block ms-1">
        <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen"
          (click)="fullscreen()">
          <i class="bx bx-fullscreen"></i>
        </button>
      </div>


      <!-- button de notificação -->
      <!-- <div class="dropdown d-inline-block" dropdown>
        <button type="button" class="btn header-item noti-icon" id="page-header-notifications-dropdown" dropdownToggle>
          <i class="bx bx-bell bx-tada"></i>
          <span class="badge bg-danger rounded-pill">3</span>
        </button>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
          aria-labelledby="page-header-notifications-dropdown" *dropdownMenu>
          <div class="p-3">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="m-0">{{ 'HEADER.NOTIFICATIONS.TITLE' | translate}} </h6>
              </div>
              <div class="col-auto">
                <a href="javascript: void(0);" class="small">{{ 'HEADER.NOTIFICATIONS.VIEW_ALL' | translate}}</a>
              </div>
            </div>
          </div>
          <ngx-simplebar style="position: relative; height: 230px;">
            <a href="javascript: void(0);" class="text-reset notification-item">
              <div class="d-flex">
                <div class="avatar-xs me-3">
                  <span class="avatar-title bg-primary rounded-circle font-size-16">
                    <i class="bx bx-cart"></i>
                  </span>
                </div>
                <div class="flex-grow-1">
                  <h6 class="mb-1">{{ 'HEADER.NOTIFICATIONS.FIRST.TITLE' | translate}}</h6>
                  <div class="font-size-12 text-muted">
                    <p class="mb-1">{{ 'HEADER.NOTIFICATIONS.FIRST.TEXT' | translate}}</p>
                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i>
                      {{ 'HEADER.NOTIFICATIONS.FIRST.TIME' | translate}}</p>
                  </div>
                </div>
              </div>
            </a>
            <a href="javascript: void(0);" class="text-reset notification-item">
              <div class="d-flex">
                <img src="assets/images/users/avatar-3.jpg" class="me-3 rounded-circle avatar-xs" alt="user-pic">
                <div class="flex-grow-1">
                  <h6 class="mb-1">{{ 'HEADER.NOTIFICATIONS.SECOND.TITLE' | translate}}</h6>
                  <div class="font-size-12 text-muted">
                    <p class="mb-1">{{ 'HEADER.NOTIFICATIONS.SECOND.TEXT' | translate}}</p>
                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i>{{ 'HEADER.NOTIFICATIONS.SECOND.TIME' |
                      translate}}</p>
                  </div>
                </div>
              </div>
            </a>
            <a href="javascript: void(0);" class="text-reset notification-item">
              <div class="d-flex">
                <div class="avatar-xs me-3">
                  <span class="avatar-title bg-success rounded-circle font-size-16">
                    <i class="bx bx-badge-check"></i>
                  </span>
                </div>
                <div class="flex-grow-1">
                  <h6 class="mb-1">{{ 'HEADER.NOTIFICATIONS.THIRD.TITLE' | translate}}</h6>
                  <div class="font-size-12 text-muted">
                    <p class="mb-1">{{ 'HEADER.NOTIFICATIONS.THIRD.TEXT' | translate}}</p>
                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i>{{ 'HEADER.NOTIFICATIONS.THIRD.TIME' |
                      translate}}</p>
                  </div>
                </div>
              </div>
            </a>
            <a href="javascript: void(0);" class="text-reset notification-item">
              <div class="d-flex">
                <img src="assets/images/users/avatar-4.jpg" class="me-3 rounded-circle avatar-xs" alt="user-pic">
                <div class="flex-grow-1">
                  <h6 class="mb-1">{{ 'HEADER.NOTIFICATIONS.FOUR.TITLE' | translate}}</h6>
                  <div class="font-size-12 text-muted">
                    <p class="mb-1">{{ 'HEADER.NOTIFICATIONS.FOUR.TEXT' | translate}}</p>
                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i>{{ 'HEADER.NOTIFICATIONS.FOUR.TIME' |
                      translate}}</p>
                  </div>
                </div>
              </div>
            </a>
          </ngx-simplebar>
          <div class="p-2 border-top d-grid">
            <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
              <i class="mdi mdi-arrow-right-circle me-1"></i> <span key="t-view-more">{{
                'HEADER.NOTIFICATIONS.LOAD_MORE' | translate}}</span>
            </a>
          </div>
        </div>
      </div> -->

      <div class="dropdown d-inline-block" dropdown>
        <button type="button" class="btn header-item" dropdownToggle id="page-header-user-dropdown">
          <img class="rounded-circle header-profile-user" src="{{user_foto}}" alt="Header Avatar">
          <span class="d-none d-xl-inline-block ms-1">{{user_name.substring(0,10)}} </span>
          <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>

          <a class="dropdown-item" href="javascript: void(0);" (click)="perfilModal(content)"><i
              class="bx bx-id-card font-size-16 align-middle me-1"></i>
            Perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="javascript: void(0);" (click)="logout()"><i
              class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
            Sair </a>
        </div>
      </div>

    </div>
  </div>
</header>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Meu Perfil</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef?.hide()">
    </button>
  </div>
  <div class="modal-body">
    <ng-stepper #cdkStepper [linear]="true" class="wizard">

      <cdk-step [optional]="false">
        <ng-template cdkStepLabel>
          <span class="number">1.</span>
          <span>Informações</span>
        </ng-template>
        @if(cdkStepper.selectedIndex === 0){
        <section>
          <div class="kyc-tab-content">
            <form>
              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="kycfirstname-input">Nome</label>
                    <input type="text" [value]="user_name" readonly class="form-control" id="kycfirstname-input" placeholder="Enter First name">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="kyclastname-input">Email</label>
                    <input type="text" [value]="user_email" class="form-control" id="kyclastname-input" placeholder="Enter Last name">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="kycphoneno-input">Numero do Bilhete</label>
                    <input type="text" [value]="user_bi" readonly class="form-control" id="kycphoneno-input" placeholder="Enter Phone number">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="kycphoneno-input">Telefone</label>
                    <input type="text" [value]="user_telefone" readonly class="form-control" id="kycphoneno-input" placeholder="Enter Phone number">
                  </div>
                </div>
               
              </div>
             
            </form>
          </div>
        </section>
        }
      </cdk-step>

      <cdk-step [optional]="true">
        <ng-template cdkStepLabel>
          <span class="number">2.</span>
          <span>Alterar Palavra Passe</span>
        </ng-template>
        <div class="kyc-tab-content">
          <form [formGroup]="passwordForm">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-floating mb-2">
                  <input type="password" class="form-control form-control-invalid" id="senha_atual" name="senha_atual"
                    placeholder="Digite o nome" formControlName="senha_atual" 
                    [ngClass]="{ 'is-invalid': submitted && form['senha_atual'].errors }" />
                  <label for="senha_atual">Palavra Passe antiga</label>
                  <div *ngIf="form['senha_atual'].errors && submitted" class="invalid-tooltip">
                    <span *ngIf="form['senha_atual'].errors?.['required']">Campo obrigatório.</span>
                    <span *ngIf="form['senha_atual'].errors?.['minlength']">O campo deve conter no minimo 4 caracteres</span>
                  </div>
                </div>
                <div class="form-floating mb-2">
                  <input type="password" class="form-control form-control-invalid" id="nova_senha" name="nova_senha"
                    placeholder="Digite o nome" formControlName="nova_senha"
                    [ngClass]="{ 'is-invalid': submitted && form['nova_senha'].errors || ok }" />
                  <label for="nova_senha">Palavra Passe Nova</label>
                  <div *ngIf="form['nova_senha'].errors && submitted" class="invalid-tooltip">
                    <span *ngIf="form['nova_senha'].errors?.['required']">Campo obrigatório.</span>
                    <span *ngIf="form['nova_senha'].errors?.['minlength']">O campo deve conter no minimo 4 caracteres</span>
                  </div>
                </div>
                <div class="form-floating mb-2">
                  <input type="password" class="form-control form-control-invalid" id="nova_senha_confirmation" name="nova_senha_confirmation"
                    placeholder="Digite o nome" formControlName="nova_senha_confirmation"
                    [ngClass]="{ 'is-invalid': submitted && form['nova_senha_confirmation'].errors || ok }" />
                  <label for="nova_senha_confirmation">Confirmar Palavra Passe Nova</label> 
                  <div class="invalid-tooltip">
                      <span *ngIf="ok">Palavra passe de confirmação não correspondente a Palavra Passe Nova</span>
                  </div>                
                  <div *ngIf="form['nova_senha_confirmation'].errors && submitted" class="invalid-tooltip">                   
                    <span *ngIf="form['nova_senha_confirmation'].errors?.['required']">Campo obrigatório.</span>
                    <span *ngIf="form['nova_senha_confirmation'].errors?.['minlength']">O campo deve conter no minimo 4 caracteres</span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <ul class="list-inline wizard mb-0">
          <li class="next list-inline-item float-end"><button type="button" class="btn btn-primary"
              (click)="updatePassword()">Salvar</button>
          </li>
        </ul>
      </cdk-step>

    </ng-stepper>
  </div>
</ng-template>