<div class="container-fluid">
  <!-- start page title -->
  <app-page-title
    title="Configuração de Ocorrencias"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-xl-3 col-sm-6">
      <div class="card card-statistics border border-primary">
        <div class="card-body">
          <div class="text-center p-2">
            <div class="mb-2">
              <img
                src="assets/images/file-icon/departamento.png"
                alt="png-img"
              />
            </div>
            <h4 class="mb-0">Estados</h4>
            <p class="mb-2">cadastro áreas/departamento</p>
            <a (click)="estado()" class="btn btn-light">Entrar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6">
      <div class="card card-statistics border border-primary">
        <div class="card-body">
          <div class="text-center p-2">
            <div class="mb-2">
              <img
                src="assets/images/file-icon/departamento.png"
                alt="png-img"
              />
            </div>
            <h4 class="mb-0">Tipo de Ocorrencias</h4>
            <p class="mb-2">cadastro áreas/departamento</p>
            <a (click)="tipoOcorrencia()" class="btn btn-light">Entrar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6">
      <div class="card card-statistics border border-primary">
        <div class="card-body">
          <div class="text-center p-2">
            <div class="mb-2">
              <img
                src="assets/images/file-icon/departamento.png"
                alt="png-img"
              />
            </div>
            <h4 class="mb-0">Tipo de Actividade</h4>
            <p class="mb-2">cadastro áreas/departamento</p>
            <a (click)="tipoActividade()" class="btn btn-light">Entrar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6">
      <div class="card card-statistics border border-primary">
        <div class="card-body">
          <div class="text-center p-2">
            <div class="mb-2">
              <img
                src="assets/images/file-icon/departamento.png"
                alt="png-img"
              />
            </div>
            <h4 class="mb-0">Actividades</h4>
            <p class="mb-2">cadastro áreas/departamento</p>
            <a (click)="actividade()" class="btn btn-light">Entrar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6">
      <div class="card card-statistics border border-primary">
        <div class="card-body">
          <div class="text-center p-2">
            <div class="mb-2">
              <img
                src="assets/images/file-icon/departamento.png"
                alt="png-img"
              />
            </div>
            <h4 class="mb-0">Produtos</h4>
            <p class="mb-2">cadastro áreas/departamento</p>
            <a (click)="produto()" class="btn btn-light">Entrar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6">
      <div class="card card-statistics border border-primary">
        <div class="card-body">
          <div class="text-center p-2">
            <div class="mb-2">
              <img
                src="assets/images/file-icon/departamento.png"
                alt="png-img"
              />
            </div>
            <h4 class="mb-0">Provincias</h4>
            <p class="mb-2">cadastro áreas/departamento</p>
            <a (click)="provincia()" class="btn btn-light">Entrar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6">
      <div class="card card-statistics border border-primary">
        <div class="card-body">
          <div class="text-center p-2">
            <div class="mb-2">
              <img
                src="assets/images/file-icon/departamento.png"
                alt="png-img"
              />
            </div>
            <h4 class="mb-0">Municipios</h4>
            <p class="mb-2">cadastro áreas/departamento</p>
            <a (click)="municipio()" class="btn btn-light">Entrar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6">
      <div class="card card-statistics border border-primary">
        <div class="card-body">
          <div class="text-center p-2">
            <div class="mb-2">
              <img
                src="assets/images/file-icon/departamento.png"
                alt="png-img"
              />
            </div>
            <h4 class="mb-0">Local de solicitação</h4>
            <p class="mb-2">cadastro áreas/departamento</p>
            <a (click)="localSolicitacao()" class="btn btn-light">Entrar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6">
      <div class="card card-statistics border border-primary">
        <div class="card-body">
          <div class="text-center p-2">
            <div class="mb-2">
              <img
                src="assets/images/file-icon/departamento.png"
                alt="png-img"
              />
            </div>
            <h4 class="mb-0">Base Estrutura</h4>
            <p class="mb-2">cadastro áreas/departamento</p>
            <a (click)="baseEstrutura()" class="btn btn-light">Entrar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6">
      <div class="card card-statistics border border-primary">
        <div class="card-body">
          <div class="text-center p-2">
            <div class="mb-2">
              <img
                src="assets/images/file-icon/departamento.png"
                alt="png-img"
              />
            </div>
            <h4 class="mb-0">Base Area</h4>
            <p class="mb-2">cadastro áreas/departamento</p>
            <a (click)="baseArea()" class="btn btn-light">Entrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
