<div class="container-fluid">
    <app-page-title title="Biblioteca" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <div class="row">
      <div class="col-12">
        <div ngClass="card">
          <div class="card-body border-bottom">
            <div class="d-flex align-items-center">
              <h5 class="mb-0 card-title flex-grow-1">Registo de entrada/saida de Acervos</h5>
              <div class="flex-shrink-0 d-flex gap-1">
                <a href="javascript:void(0);" class="btn btn-primary" (click)="openModal(emprestimoModal)">Novo </a>
                <!-- <a href="javascript:void(0);" class="btn btn-light"><i class="mdi mdi-refresh"></i></a> -->
                <div class="dropdown d-inline-block" dropdown>
                  <button type="menu" class="btn btn-success" id="*dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" dropdownToggle><i class="mdi mdi-dots-vertical"></i></button>
                  <ul class="dropdown-menu dropdown-menu dropdown-menu-end show" aria-labelledby="*dropdownMenuButton1" *dropdownMenu>
                    <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body border-bottom">
            <div class="row g-3">
              <div class="col-xxl-2 col-lg-6">
                <input type="search" class="form-control" id="searchInput" placeholder="Nome ..." [(ngModel)]="term" (ngModelChange)="searchJob()">
              </div>
              <div class="col-xxl-2 col-lg-6">
                <select class="form-select" id="idStatus" aria-label="Default select example" (click)="selectstatus()">
                  <option value="">Pesquisar Livro</option>
                  <option value="New">Quimica Organica</option>
                  <option value="Close">Fisica Geral</option>
                </select>
              </div>
              <div class="col-xxl-2 col-lg-6">
                <select class="form-select" id="idStatus" aria-label="Default select example" (click)="selectType()">
                  <option value="">Pesquisar Status</option>
                  <option value="Part Time">Emprestado</option>
                  <option value="Freelance">Devolvido</option>
                  <option value="Internship">Close</option>
                </select>
              </div>
              <div class="col-xxl-2 col-lg-4">
                <div id="datepicker1">
                  <input type="text" placeholder="Data Inicial" class="form-control " bsDatepicker [bsConfig]="{ showWeekNumbers: false }">
                </div><!-- input-group -->        
              </div>
              <div class="col-xxl-2 col-lg-4">
                <div id="datepicker1">
                  <input type="text" placeholder="Data Final" class="form-control " bsDatepicker [bsConfig]="{ showWeekNumbers: false }">
                </div><!-- input-group -->        
              </div>
              <div class="col-xxl-2 col-lg-4">
                <button type="button" class="btn btn-soft-secondary w-100"><i class="mdi mdi-filter-outline align-middle"></i> Filtrar</button>
              </div>
            </div>
          </div>
          <div class="card-body">
  
            <div class="table-responsive">
              <table class="table align-middle dt-responsive nowrap w-100 table-check" id="job-list">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nome do emprestante</th>
                    <th scope="col">Titulo do Livro</th>
                    <th scope="col">Bibliotecario</th>
                    <th scope="col">Data Emprestimo</th>
                    <th scope="col">Data Devolução</th>
                    <th scope="col">Status</th>
                    <th scope="col">Acção</th>
                  </tr>
                </thead>
                <tbody>
                  @for(data of emprestimos;track $index){
                  <tr>
                    <th scope="row">{{data.id}}</th>
                    <td>{{data?.cliente?.nome}}</td>
                    <td>{{data?.acervo?.titulo}}</td>                    
                    <td>{{data?.bibliotecario?.nome}}</td>
                    <td>{{data?.created_at | date: 'dd-MM-YYYY'}}</td>
                    <td>{{data?.dataPrevistaEntrega | date: 'dd-MM-yyyy'}}</td>
                    <td><span class="badge" [ngClass]="{ 'bg-success': data?.devolucao != null, 'bg-info': data?.devolucao == null, 'bg-danger': data?.status === 'Close'}">{{data?.devolucao==null?'Emprestado':'Recebido'}}</span></td>
                    <td>
                      <ul class="list-unstyled hstack gap-1 mb-0">
                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                          <a href="javascript:void(0);" class="btn btn-sm btn-soft-primary"><i class="mdi mdi-eye-outline"></i></a>
                        </li>
                        <!-- <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                          <a href="javascript:void(0);" class="btn btn-sm btn-soft-info" (click)="editDataGet(data.id,content)"><i class="mdi mdi-pencil-outline"></i></a>
                        </li> -->
                        <li data-bs-toggle="tooltip" *ngIf="data?.devolucao == null" data-bs-placement="top" title="Delete">
                          <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-info" (click)="Adddevolucao(data)">Devolução</a>
                        </li>
                      </ul>
                    </td>
                  </tr>}
                </tbody>
              </table>
            </div>
            @if(joblist?.length > 0){
            <div class="row justify-content-between align-items-center">
              <div class="col-auto me-auto">
                <p class="text-muted mb-0">Showing <b>{{lists?.length}}</b> of <b>{{joblist?.length}}</b> entries</p>
              </div>
              <div class="col-auto">
                <div class="text-md-right float-md-end pagination-rounded">
                  <ul class="pagination pagination-rounded justify-content-end mb-2">
                    <pagination [totalItems]="joblist?.length" [itemsPerPage]="8" (pageChanged)="pageChanged($event)"></pagination>
                  </ul>
                </div>
              </div>
              <!--end col-->
            </div>}
            <!--end row-->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- View Details Model -->
  <ng-template #ViewContent role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Order Details</h5>
      <button type="button" class="btn-close" aria-hidden="true" (click)="modalRef?.hide()"></button>
    </div>
    <div class="modal-body">
      <p class="mb-2">
        Product id:
        <span class="text-primary">#SK2540</span>
      </p>
      <p class="mb-4">
        Billing Name:
        <span class="text-primary">Neal Matthews</span>
      </p>
      <div class="table-responsive">
        <table class="table table-centered table-nowrap">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Product Name</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <div>
                  <img src="assets/images/product/img-7.png" alt class="avatar-sm" />
                </div>
              </th>
              <td>
                <div>
                  <h5 class="text-truncate font-size-14">Wireless Headphone (Black)</h5>
                  <p class="text-muted mb-0">$ 225 x 1</p>
                </div>
              </td>
              <td>$ 255</td>
            </tr>
            <tr>
              <th scope="row">
                <div>
                  <img src="assets/images/product/img-4.png" alt class="avatar-sm" />
                </div>
              </th>
              <td>
                <div>
                  <h5 class="text-truncate font-size-14">Phone patterned cases</h5>
                  <p class="text-muted mb-0">$ 145 x 1</p>
                </div>
              </td>
              <td>$ 145</td>
            </tr>
            <tr>
              <td colspan="2">
                <h6 class="m-0">Sub Total:</h6>
              </td>
              <td>$ 400</td>
            </tr>
            <tr>
              <td colspan="2">
                <h6 class="m-0">Shipping:</h6>
              </td>
              <td>Free</td>
            </tr>
            <tr>
              <td colspan="2">
                <h6 class="m-0">Total:</h6>
              </td>
              <td>$ 400</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>

  <ng-template #emprestimoModal role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Solicitação de Livros</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
        (click)="modalRef?.hide()"></button>
    </div>
    <form [formGroup]="momentForm" (ngSubmit)="salvarEmprestimo()">
      <div class="modal-body">
        <div class="row mb-1">
          <div class="col-md-4 p-1">
            <div class="form-floating">            
              <input type="text" class="form-control form-control-invalid" formControlName="bilhete" name="bilhete"
                id="floatingnameInput" placeholder="Digite o bilhete" [(ngModel)]="bilhete"
                [ngClass]="{'is-invalid': submitted && form['bilhete'].errors}" />
              <label for="floatingnameInput"><i class="bx bx-search-alt search-icon"></i> Bilhete</label>
              <div *ngIf="form['bilhete'].errors && submitted" class="invalid-tooltip">
                <span *ngIf="form['bilhete'].errors?.['required']">Campo obrigatório.</span>                             
              </div>
            </div>
          </div>
          <div class="col-md-8 p-1">
            <div class="form-floating">
              <select class="form-select" id="floatingSelectGrid"
                [ngClass]="{'is-invalid': submitted && form['cliente_id'].errors}" [(ngModel)]="emprestimo.cliente_id"
                formControlName="cliente_id" aria-label="Floating label select example" (change)="UpdateBilhete()">
                <option *ngFor="let data of clientes" value="{{data?.id}}">{{data?.nome}}</option>
              </select>
              <label for="floatingSelectGrid">Solicitador</label>
              <div *ngIf="form['cliente_id'].errors && submitted" class="invalid-tooltip">
                <span *ngIf="form['cliente_id'].errors?.['required']">Campo obrigatório.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-md-4 p-1">
            <div class="form-floating">
              <input type="date" class="form-control" id="floatingSelect1Grid" [min]="hoje"
                [ngClass]="{'is-invalid': submitted && form['dataPrevistaEntrega'].errors}" [(ngModel)]="emprestimo.dataPrevistaEntrega"
                formControlName="dataPrevistaEntrega" aria-label="Floating label select example"/>
              <label for="floatingSelect1Grid">Previsão de entrega</label>
              <div *ngIf="form['dataPrevistaEntrega'].errors && submitted" class="invalid-tooltip">
                <span *ngIf="form['dataPrevistaEntrega'].errors?.['required']">Campo obrigatório.</span>
              </div>
            </div>
          </div> 
          <div class="col-md-8 p-1">
            <div class="form-floating">
              <select class="form-select" id="floatingSelectGrid"
                [ngClass]="{'is-invalid': submitted && form['acervo_id'].errors}" [(ngModel)]="emprestimo.acervo_id"
                formControlName="acervo_id" aria-label="Floating label select example" (change)="showDetalhes()">
                <option *ngFor="let data of acervos" value="{{data?.acervo?.id}}">{{data?.acervo?.titulo}}</option>
              </select>
              <label for="floatingSelectGrid">Acervo</label>
              <div *ngIf="form['acervo_id'].errors && submitted" class="invalid-tooltip">
                <span *ngIf="form['acervo_id'].errors?.['required']">Campo obrigatório.</span>
              </div>
            </div>
          </div>         
        </div>
        <div class="row" *ngIf="acervoSelected.categoria!=''">
          <div class="table-responsive">
            <table class="table table-sm m-0">
              <thead>
                <tr>
                  <th colspan="2">Detalhes do Livro</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Categoria / Ano de Edição</td>
                  <td>{{acervoSelected?.categoria}} / {{acervoSelected?.ano}}</td>
                </tr>
                <tr>
                  <td>Autor / Editora</td>
                  <td>{{acervoSelected?.autor}} / {{acervoSelected?.editora}}</td>
                </tr>               
              </tbody>
            </table>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="hstack gap-2 justify-content-end">
          <button type="submit" class="btn btn-primary w-md">Salvar</button>
          <button type="button" class="btn btn-danger w-md mx-1" (click)="modalRef?.hide()">Cancelar</button>
        </div>
      </div>
    </form>
   </ng-template>
  
