<div class="container-fluid">
  <app-page-title
    title="Gerir Registo"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row mb-2">
    <div class="col-sm-4">
      <div class="search-box me-2 mb-2 d-inline-block"></div>
      <div class="search-box me-2 mb-2 d-inline-block"></div>
    </div>
    <div class="col-sm-8">
      <div class="text-sm-end">
        <button
          type="button"
          data-bs-toggle="modal"
          (click)="openModal()"
          class="btn btn-success btn-rounded waves-effect waves-light addContact-modal mb-2"
        >
          <i class="mdi mdi-plus me-1"></i> Registar Documento
        </button>
      </div>
    </div>
    <!-- end col-->
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-lg-4">
                <label for="input">Número do Documento </label>
                <input
                  [(ngModel)]="filtro.name_code"
                  type="text"
                  name="codigo"
                  class="form-control"
                  id="formrow-firstname-input"
                  placeholder="Pesquise Pelo Número do Documento"
                />
              </div>
              <div class="col-md-2">
                <label class="form-label">Estado:</label>
                <select
                  class="form-control"
                  [(ngModel)]="filtro.estado"
                  placeholder="-- Seleciona Uma Opção --"
                >
                  <option value="0">Inativo</option>
                  <option value="1">Ativo</option>
                </select>
              </div>

              <div class="col-lg-2 d-flex mt-1 align-self-end">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="pesquisar()"
                >
                  Pesquisar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- end select2 -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <div class="d-flex flex-row-reverse bd-highlight mb-2">
            <div class="p-0 bd-highlight">
              <select (change)="onTableSizeChange($event)" class="form-select">
                <option *ngFor="let size of tableSizes" [ngValue]="size">
                  {{ size }}
                </option>
              </select>
            </div>
          </div>

          <table class="table table-sm table-bordered table-hover">
            <thead class="table-info">
              <tr>  
                <th>Codigo</th>
                <th>Data do Documento</th>
                <th>Data de Registo</th>             
                <th>Remetente</th>
                <th>Assunto</th>
                <th>Tipo Documento</th>
                <th>Acesso</th>
                <th>Via Transferencia</th>
                <th>Prioridade</th>
                <th>Acção</th>
              </tr>
            </thead>
            <tbody class="">
              <tr
                *ngFor="
                  let data of documentos
                    | paginate
                      : {
                          itemsPerPage: filtro.pagesize,
                          currentPage: filtro.page,
                          totalItems: filtro.total_itens
                        }
                "
              >
                <td>{{ data?.codigoDocumento }}</td>
                <td>{{ data?.dataDocumento | date : "dd-MM-yyy" }}</td>
                <td>{{ data?.createdAt | date : "dd-MM-yyyy" }}</td>                

                <td>{{ data?.remetente?.substring(0, 30) }}</td>
                <td>{{ data?.assunto?.substring(0, 50) }}</td>

                <td>{{ data?.gdTipoDocumento?.nome }}</td>
                <td>{{ data?.gdDocumentoAcesso?.nome }}</td>
                <td>{{ data?.gdDocumentoViaTransmissoe?.nome }}</td>

                <td
                  class="text-white"
                  [ngStyle]="{
                    'background-color': data?.gdPrioridadeDocumento?.cor
                  }"
                >
                  {{ data?.gdPrioridadeDocumento?.nome }}
                </td>

                <td>
                  <div dropdown class="dropdown">
                    <a
                      dropdownToggle
                      href="javascript: void(0);"
                      class="dropdown-toggle card-drop px-2 show"
                      aria-expanded="true"
                    >
                      <i class="mdi mdi-dots-horizontal font-size-18"></i>
                    </a>
                    <ul
                      *dropdownMenu
                      class="dropdown-menu dropdown-menu-end show"
                      style="
                        position: absolute;
                        inset: 0px 0px auto auto;
                        margin: 0px;
                        transform: translate(0px, 31.25px);
                      "
                      placement="bottom-end"
                    >
                      <li>
                        <a
                          (click)="editDocumentByCode(data.codigo_documento)"
                          class="dropdown-item edit-list cursor-pointer"
                          ><i
                            class="mdi mdi-pencil font-size-16 text-success me-1"
                          ></i>
                          Editar</a
                        >
                      </li>

                      <li *ngIf="data?.estado === 1">
                        <a
                          href="javascript:void(0);"
                          (click)="questionsToremoveItem(data, 'remove')"
                          class="dropdown-item remove-list"
                          data-remove-id="8"
                          ><i
                            class="mdi mdi-trash-can font-size-16 text-danger me-1"
                          ></i>
                          Deletar</a
                        >
                      </li>

                      <li *ngIf="data?.estado === 0">
                        <a
                          href="javascript:void(0);"
                          (click)="questionsToremoveItem(data, 'recover')"
                          class="dropdown-item remove-list"
                          data-remove-id="8"
                          ><i
                            class="mdi mdi-recycle font-size-16 text-success me-1"
                          ></i>
                          Recuperar</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <p class="mt-3">
            Total: <b>{{ filtro.total_itens }}</b>
          </p>

          <div
            class="pagination pagination-rounded justify-content-center mt-4"
          >
            <pagination-controls
              [responsive]="true"
              previousLabel="Anterior"
              nextLabel="Próximo"
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end row -->
<!-- </div> -->

<!-- Modal -->
<div
  bsModal
  #newDocumentModal="bs-modal"
  class="modal fade"
  id="newContactModal"
  tabindex="-1"
  aria-labelledby="newDocumentModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newContactModalLabel">
          Pesquisar Documento
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="newDocumentModal.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <form
          (ngSubmit)="searchDocumentByCode(documento.codigo_documento)"
          [formGroup]="momentForm"
          #formDir="ngForm"
        >
          <div class="row mb-3">
            <div class="col-md-12 mb-3">
              <!-- <label class="form-label"
                    >Codigo do Documento <span class="text-danger">*</span></label
                  > -->
              <input
                type="text "
                class="form-control"
                placeholder="Código do documento"
                name="codigo_documento"
                [(ngModel)]="documento.codigo_documento"
                formControlName="codigo_documento"
              />
              <div
                *ngIf="codigo_documento.invalid && formDir.submitted"
                class="validation-error"
              >
                <p
                  *ngIf="codigo_documento.errors?.['required']"
                  class="text-error"
                >
                  Campo obrigatório.
                </p>

                <p
                  *ngIf="codigo_documento.errors?.minlength"
                  class="text-error"
                >
                  O campo deve conter no mínimo 2 caracteres.
                </p>

                <p
                  *ngIf="codigo_documento.errors?.maxlength"
                  class="text-error"
                >
                  O campo deve conter no máximo 255 caracteres.
                </p>
              </div>
            </div>

            <div class="col-md-3">
              <button type="submit" id="addContact-btn" class="btn btn-success">
                Confirmar Recepção
              </button>
            </div>
          </div>

          <!-- Row -->
        </form>
      </div>
      <!-- end modal body -->
    </div>

    <!-- end modal-dialog -->
  </div>
</div>

<div
  bsModal
  #removeItemModal="bs-modal"
  class="modal fade"
  id="removeItemModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body px-4 py-5 text-center">
        <button
          type="button"
          class="btn-close position-absolute end-0 top-0 m-3"
          (click)="removeItemModal.hide()"
        ></button>
        <div class="avatar-sm mb-4 mx-auto">
          <div
            class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3"
          >
            <i class="mdi mdi-trash-can-outline"></i>
          </div>
        </div>
        <p class="text-muted font-size-16 mb-4">
          Tem A Certeza Que Deseja
          {{ recoverOrRemoveItem === "recover" ? "recuperar" : "remover" }}
          Este ítem?
        </p>
        <div class="hstack gap-2 justify-content-center mb-0">
          <button
            type="button"
            (click)="remove()"
            [ngClass]="
              recoverOrRemoveItem === 'recover'
                ? 'btn btn-success me-1'
                : 'btn btn-danger me-1'
            "
            id="remove-item"
          >
            {{ recoverOrRemoveItem === "recover" ? "Recuperar" : "Remover" }}
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="removeItemModal.hide()"
          >
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
