<div class="container-fluid">
    <app-page-title title="Basic Tables" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
 
 
    </div> 
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Responsive tables</h4>
            <p class="card-title-desc">
              </p>
  
            <div class="table-responsive ">
              <table class="table  table-bordered table-sm table-hover    mb-0">
                      
                <thead class="table-warning">
                  <tr>
                    <th class="text-gray-600">Ano </th>
                                    <th class="text-gray-600">Serie </th>
                                    <th class="text-gray-600">Key</th>
                                    <th class="text-gray-600">Tempo</th>
                                    <th class="text-gray-600">Dispositivos </th>
                                    <th class="text-gray-600">Qtd Users </th>

                                    <th class="text-gray-600">Sistema </th>
                                    <th class="text-gray-600">Cliente </th>
                                    <th class="text-gray-600">Nif </th>
                                    <th class="text-gray-600">Data activacao </th>
                                    <th class="text-gray-600">Data expiração</th>
                                    <th class="text-gray-600">Estado</th>
                                    <th class="text-gray-600">Acção</th>
                  </tr>
                </thead>
                <tbody class="">
            <tr  *ngFor="   let data of  (tipoAgentesResults$ | async)?.data.data | paginate : { itemsPerPage: filtro.pagesize,    currentPage: filtro.page,    totalItems:  (tipoAgentesResults$ | async)?.data?.meta?.total   }   ">

                <td class="text-gray-600 d-flex align-items-center">{{data. ano_avaliacao}}</td>
                <td>{{data.serial  }}</td>
                <td>{{data.key}}</td>
                <td>{{data.time}} dias </td>
                <td>{{data.key_dispositivo}}</td>
                <td>{{data.utilizadores}}</td>

                <td>{{data.sistema}}</td>

                <td>{{data.cliente_nome}}</td>

                <td>{{data.nif}}</td>

                <td>{{data.data_activacao | date:'dd-MM-YYYY'}}</td>
                <td>{{data.data_expiracao | date:'dd-MM-YYYY'}}</td>

                <td>
                    <span *ngIf="data.estado==1" class="badge badge-light-success">Disponivel</span>
                    <span *ngIf="data.estado!=1" class="badge badge-light-danger">Usado</span>
                </td>
                 
                  
                  
                </tbody>
              </table>
              <div class="d-flex justify-content-center">
                <pagination-controls [responsive]="true" previousLabel="Anterior" nextLabel="Próximo"
                    (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>
            <p>Total: <b>{{  (tipoAgentesResults$ | async)?.data?.meta?.total }}</b></p>

            </div>
  
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  