<div class="container-fluid">
    <app-page-title title="Novo projecto"></app-page-title>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="row mb-3">
                <div class="col-md-3">
                  <label class="form-label"
                    >Tipo de Documento <span class="text-danger">*</span>
                  </label>
                  <ng-select
                    [items]="tipo_documentos"
                    name="tipo_documento"
                    bindLabel="nome"
                    bindValue="id"
                    value="documento.gd_tipo_documento_id"
                    placeholder="-- seleciona uma opção --"
                    [(ngModel)]="documento.gd_tipo_documento_id"
                    value="documento.gd_tipo_documento_id"
                  >
                  </ng-select>
                </div>
  
                <div class="col-md-3">
                  <label class="form-label"
                    >Acesso <span class="text-danger">*</span>
                  </label>
                  <ng-select
                    [items]="acesso_documentos"
                    name="tipo_documento"
                    bindLabel="nome"
                    bindValue="id"
                    value="documento.gd_documento_acesso_id"
                    placeholder="-- seleciona uma opção --"
                    [(ngModel)]="documento.gd_documento_acesso_id"
                    value="documento.gd_documento_acesso_id"
                  >
                  </ng-select>
                </div>
  
                <div class="col-md-3">
                  <label class="form-label"
                    >Prioridade <span class="text-danger">*</span>
                  </label>
                  <ng-select
                    [items]="prioridade_documentos"
                    name="tipo_documento"
                    bindLabel="nome"
                    bindValue="id"
                    value="documento.gd_prioridade_documento_id"
                    placeholder="-- seleciona uma opção --"
                    [(ngModel)]="documento.gd_prioridade_documento_id"
                    value="documento.gd_tipo_documento_id"
                  >
                  </ng-select>
                </div>
  
                <div class="col-md-3">
                  <label class="form-label"
                    >Via Transmissão <span class="text-danger">*</span></label
                  >
                  <ng-select
                    [items]="via_tramissao_documentos"
                    name="tipo_documento"
                    bindLabel="nome"
                    bindValue="id"
                    value="documento.gd_documento_via_transmissao_id"
                    placeholder="-- seleciona uma opção --"
                    [(ngModel)]="documento.gd_documento_via_transmissao_id"
                    value="documento.gd_documento_via_transmissao_id"
                  >
                  </ng-select>
                </div>
              </div>
  
              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="form-label"
                    >Remetente <span class="text-danger">*</span></label
                  >
                  <input
                    type="text "
                    class="form-control"
                    placeholder="escreva remetente"
                    name="remetente"
                    [(ngModel)]="documento.remetente"
                  />
                </div>
  
                <div class="col-md-6">
                  <label class="form-label"
                    >Destinatário <span class="text-danger">*</span></label
                  >
                  <input
                    type="text "
                    class="form-control"
                    placeholder="escreva o destin"
                    name="destintatario"
                    [(ngModel)]="documento.destinatario"
                  />
                </div>
  
                <!-- <div class="col-md-3">
                  <label class="form-label">Classificador </label>
                  <input
                    type="text "
                    placeholder="escreva o telefone"
                    class="form-control"
                    name="classificador"
                    [(ngModel)]="documento.classificador"
                  />
                </div> -->
              </div>
  
              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="form-label"
                    >Assunto <span class="text-danger">*</span></label
                  >
                  <input
                    type="text "
                    placeholder="escreva o assunto"
                    class="form-control"
                    name="assunto "
                    [(ngModel)]="documento.assunto"
                  />
                </div>
                <div class="col-md-3">
                  <label class="form-label">Email</label>
                  <input
                    type="text"
                    placeholder="escreva o email"
                    class="form-control"
                    name="email"
                    [(ngModel)]="documento.email"
                  />
                </div>
                <div class="col-md-3">
                  <label class="form-label">Telefone </label>
                  <input
                    type="text "
                    placeholder="escreva o telefone"
                    class="form-control"
                    name="telefone"
                    [(ngModel)]="documento.telefone"
                  />
                </div>
              </div>
  
              <!-- Row -->
            </form>
          </div>
        </div>
        <!-- end select2 -->
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="form-label"
                    >Nº documento <span class="text-danger">*</span></label
                  >
                  <input
                    type="text "
                    class="form-control"
                    placeholder="escreva o número do documento"
                    name="numero_documento"
                    [(ngModel)]="documento.numero_documento"
                  />
                </div>
  
                <div class="col-md-3">
                  <label class="form-label"
                    >Origem do documento <span class="text-danger">*</span>
                  </label>
  
                  <select
                    class="form-select"
                    name="gd_documento_via_transmissao_id"
                    [(ngModel)]="documento.origem_documento"
                  >
                    <option value="" disabled selected>
                      -- Seleciona uma opção --
                    </option>
                    <option value="0">Interno</option>
                    <option value="1">Externo</option>
                    <!-- Itera sobre os itens do array via_transmissao_documentos e cria uma opção para cada um -->
                  </select>
                </div>
                <div class="col-md-3">
                  <label class="form-label"
                    >Estado <span class="text-danger">*</span>
                  </label>
  
                  <select
                    class="form-select"
                    name="estado"
                    [(ngModel)]="documento.estado"
                  >
                    <option value="" disabled selected>
                      -- Seleciona uma opção --
                    </option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <!-- Itera sobre os itens do array via_transmissao_documentos e cria uma opção para cada um -->
                  </select>
                </div>
              </div>
  
              <div class="row mb-3">
                <div class="col-md-4">
                  <label class="form-label">Data do documento </label>
                  <input
                    type="date"
                    placeholder="escreva o telefone"
                    class="form-control"
                    name="data_documento"
                    [(ngModel)]="documento.data_documento"
                  />
                </div>
  
                <div class="col-md-4">
                  <label class="form-label">Data de entrada </label>
                  <input
                    type="date"
                    placeholder="escreva o telefone"
                    class="form-control"
                    name="data_documento"
                    [(ngModel)]="documento.data_entrada"
                  />
                </div>
  
                <div class="col-md-4">
                  <label class="form-label">Data de registo </label>
                  <input
                    type="date"
                    placeholder="escreva o telefone"
                    class="form-control"
                    name="data_registo"
                    [(ngModel)]="documento.data_registo"
                  />
                </div>
              </div>
  
              <div class="row mb-3">
                <div class="col-md-4">
                  <label class="form-label">Data de despacho </label>
                  <input
                    type="date"
                    placeholder="escreva o telefone"
                    class="form-control"
                    name="data_despacho"
                    [(ngModel)]="documento.data_despacho"
                  />
                </div>
              </div>
  
              <div class="modal-footer">
                <button
                  type="submit"
                  id="addContact-btn"
                  class="btn btn-success"
                  (click)="save()"
                >
                  Salvar
                </button>
                <!-- end modal-content -->
              </div>
  
              <!-- Row -->
            </form>
          </div>
        </div>
        <!-- end select2 -->
      </div>
    </div>
  
    <!-- end row -->
  </div>
  