<div class="container-fluid">
    <app-page-title title="Minhas tarefas" [breadcrumbItems]="breadCrumbItems">
    </app-page-title>

    <div class="row">
        <div class="col-lg-12">
            <div class="card bg-transparent">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm">
                            <div class="search-box me-2 d-inline-block">
                                <div class="position-relative">
                                    <input name="name_code" [(ngModel)]="filtro.name_code" (keyup)="pesquisarEnter($event)" type="text" class="form-control" autocomplete="off" id="searchTableList" placeholder="Pesquisar ..." />
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-auto">
                            <div class="text-sm-end">
                                <button type="button" data-bs-toggle="modal" (click)="novo()" class="btn btn-success btn-rounded waves-effect waves-light addContact-modal mb-2">
                    <i class="mdi mdi-plus me-1"></i> Nova Tarefa
                  </button>


                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    <div class>
                        <div class="table-responsive">
                            <table class="table project-list-table align-middle table-nowrap dt-responsive nowrap w-100 table-borderless" id="projectList-table">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 100px">#</th>
                                        <th scope="col">Actividade</th>
                                        <th scope="col">Início</th>

                                        <th scope="col">Fim</th>
                                        <th scope="col">Duração</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Responsável</th>

                                        <th scope="col">Acção</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(data of tarefas;track $index){
                                    <tr>
                                        <td>
                                            <!--   <img src="{{data?.foto}}" alt class="avatar-sm" />-->
                                            <img (click)="taskModalShow(data)" src="assets/images/icons/task.png" width="50" height="50" alt="" class="img-fluid" />
                                        </td>
                                        <td>
                                            <h5 class="text-truncate font-size-14">
                                                <a (click)="taskModalShow(data)" class="text-dark">{{
                            data?.nome
                          }}</a>
                                            </h5>
                                            <div class="text-muted mb-0" [innerHTML]="data?.descricao?.substring(0, 50)"></div>
                                        </td>
                                        <td>{{ data?.data_inicio | date : "dd-MM-yyyy" }}</td>
                                        <td>{{ data?.data_fim | date : "dd-MM-yyyy" }}</td>
                                        <td>{{ data?.duracao }} Dia(s)</td>
                                        <td>
                                            <span class="badge" [ngClass]="getEstadoCor(data.estado)">
                          {{ getEstado(data.estado) }}</span
                        >
                      </td>
                      <td>
                        {{ data?.responsavelUser?.email?.substring(0, 30) }}
                      </td>

                      <!--      <td>
                        <div class="avatar-group">
                          <div class="avatar-group-item">
                            <a href="javascript: void(0);" class="d-inline-block">
                               <img src="{{data?.users?.[0]}}" class="rounded-circle avatar-xs" alt />
                              <img src="assets/images/icons/user.png" width="50" height="50" alt="" class="img-fluid">

                            </a>
                          </div>
                          @if(data?.users?.[1]){
                          <div class="avatar-group-item">
                            <a href="javascript: void(0);" class="d-inline-block">
                              <img src="{{data?.users?.[1]}}" class="rounded-circle avatar-xs" alt />
                              <img src="assets/images/icons/user.png" width="50" height="50" alt="" class="img-fluid">

                            </a>
                          </div>
                          }
                        </div>
                      </td>

                    -->
                      <td>
                        <div dropdown class="dropdown">
                          <a
                            dropdownToggle
                            href="javascript: void(0);"
                            class="dropdown-toggle card-drop px-2 show"
                            aria-expanded="true"
                          >
                            <i class="mdi mdi-dots-horizontal font-size-18"></i>
                          </a>
                          <ul
                            *dropdownMenu
                            class="dropdown-menu dropdown-menu-end show"
                            style="
                              position: absolute;
                              inset: 0px 0px auto auto;
                              margin: 0px;
                              transform: translate(0px, 31.25px);
                            "
                            placement="bottom-end"
                          >
                            <li>
                              <a
                                href="javascript:void(0);"
                                (click)="editar(data)"
                                class="dropdown-item edit-list"
                                data-edit-id="8"
                                ><i
                                  class="mdi mdi-pencil font-size-16 text-success me-1"
                                ></i>
                                Editar</a
                              >
                            </li>
                            <li>
                              <a
                                href="javascript:void(0);"
                                (click)="taskModalShow(data)"
                                class="dropdown-item edit-list"
                                data-edit-id="8"
                                ><i
                                  class="mdi mdi-eye-outline font-size-16 text-success me-1"
                                ></i>
                                Visualizar</a
                              >
                            </li>
                            <li>
                              <a
                                href="javascript:void(0);"
                                (click)="remove(data.id)"
                                class="dropdown-item remove-list"
                                data-remove-id="8"
                                ><i
                                  class="mdi mdi-trash-can font-size-16 text-danger me-1"
                                ></i>
                                Delete</a
                              >
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
        <div class="row">
          <div class="col-lg-12">
            <ul
              class="pagination pagination-rounded justify-content-center mt-2 mb-5"
            >
              <pagination
                class="pagination-wrap hstack gap-2"
                [totalItems]="filtro?.total_itens"
                [itemsPerPage]="filtro?.pagesize"
                (pageChanged)="pageChanged($event)"
              ></pagination>
            </ul>
          </div>
        </div>
        <!-- end row -->
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    bsModal
    #newModal="bs-modal"
    class="modal fade"
    id="newContactModal"
    tabindex="-1"
    aria-labelledby="newModal"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newContactModalLabel">Nova Tarefa</h5>
          <button
            type="button"
            class="btn-close"
            (click)="newModal.hide()"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row mb-3">
              <div class="col-md-4">
                <label class="form-label"
                  >Tipo De Tarefa<span class="text-danger">*</span>
                                            </label>
                                            <ng-select [items]="tipo_actividades" name="actividade_tipo_id" bindLabel="nome" bindValue="id" value="actividade.actividade_tipo_id" placeholder="-- Seleciona uma Opção --" [multiple]="false" [(ngModel)]="actividade.actividade_tipo_id" value="documento.actividade_tipo_id">
                                            </ng-select>

                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Responsável <span class="text-danger">*</span>
                </label>

                            <ng-select [items]="users" name="user" bindLabel="email" bindValue="id" value="tarefa.responsavel" placeholder="-- Seleciona uma Opção --" [multiple]="false" [(ngModel)]="tarefa.responsavel" value="tarefa.responsavel">
                            </ng-select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Estado<span class="text-danger">*</span>
                </label>
                            <select class="form-select" id="project-status-input" [(ngModel)]="tarefa.estado">
                  <option *ngFor="let estado of estados" [ngValue]="estado.id">
                    {{ estado.nome }}
                  </option>
                </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label class="form-label">Actividade <span class="text-danger">*</span>
                </label>

                            <ng-select [items]="actividades" name="actividade" bindLabel="nome" bindValue="id" value="documento.actividade_id" placeholder="-- Seleciona uma Opção --" [multiple]="false" [(ngModel)]="tarefa.actividade_id" value="documento.actividade_id">
                            </ng-select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label class="form-label" for="nome">Nome Da Tarefa<span class="text-danger">*</span></label
                >
                <input
                  id="nome"
                  type="text "
                  class="form-control"
                  placeholder="Escreva o Nome da Actividade"
                  name="nome"
                  [(ngModel)]="tarefa.nome"
                />
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-12">
                <label class="form-label" for="destinatario"
                  >Descrição <span class="text-danger">*</span></label
                >
                <textarea
                  id="destinatario"
                  rows="5"
                  type="text "
                  class="form-control"
                  placeholder="Escreva a Descrição"
                  name="descricao"
                  [(ngModel)]="tarefa.descricao"
                >
                </textarea>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-3">
                <label
                  (change)="actualizarDuracaoActividade(tarefa)"
                  class="form-label"
                  for="data_inicio"
                  >data Inicio
                </label>
                            <input id="data_inicio" type="date" placeholder="Escreva o Telefone" class="form-control" name="data_inicio" [(ngModel)]="tarefa.data_inicio" />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="data_fim">Data Fim </label>
                            <input (change)="actualizarDuracaoActividade(tarefa)" id="data_fim" type="date" placeholder="Escreva o Telefone" class="form-control" name="data_fim" [(ngModel)]="tarefa.data_fim" />
                        </div>

                        <div class="col-md-3">
                            <label class="form-label" for="nome">Duração <span class="text-danger">*</span></label
                >
                <input
                  id="duracao"
                  type="text "
                  class="form-control"
                  placeholder="Duracação "
                  name="duracao"
                  [(ngModel)]="tarefa.duracao"
                />
              </div>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-secondary me-1"
                (click)="newModal.hide()"
              >
                Cancelar
              </button>
              <button
                type="submit"
                id="addContact-btn"
                class="btn btn-success"
                (click)="save(); newModal.hide()"
              >
                Salvar
              </button>
              <!-- end modal-content -->
            </div>

            <!-- Row -->
          </form>
        </div>
        <!-- end modal body -->
      </div>

      <!-- end modal-dialog -->
    </div>
  </div>

  <!-- Modal -->
  <div
    bsModal
    #taskModal="bs-modal"
    class="modal fade"
    id="newContactModal"
    tabindex="-1"
    aria-labelledby="taskModal"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newContactModalLabel">
            Detalhes Da Tarefa
          </h5>
          <button
            type="button"
            class="btn-close"
            (click)="taskModal.hide()"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div
              class="text-muted mb-0"
              [innerHTML]="actividade?.descricao"
            ></div>
            <br />

            <h1>
              {{tarefa.nome}}
            </h1>
            <p>
              {{tarefa.descricao}}
            </p>

            <div>
              <span>
                {{tarefa.responsavel}}
              </span>
              <span>
                {{tarefa.actividade_tarefa_tipo_id}}
              </span>

            </div>

            <br />
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-secondary me-1"
                (click)="taskModal.hide()"
              >
                Sair
              </button>

              <!-- end modal-content -->
            </div>

            <!-- Row -->
          </form>
        </div>
        <!-- end modal body -->
      </div>

      <!-- end modal-dialog -->
    </div>
  </div>