<div class="container-fluid">
    <app-page-title
      title="Relatório de  Ocorrencia"
      [breadcrumbItems]="breadCrumbItems"
    ></app-page-title>
  
    <div class="row mb-2">
      <div class="col-sm-4">
        <div class="search-box me-2 mb-2 d-inline-block"></div>
        <div class="search-box me-2 mb-2 d-inline-block"></div>
      </div>
      <div class="col-sm-8">
        <div class="text-sm-end">
          <button
            type="button"
            data-bs-toggle="modal"
            (click)="modalFormulario.show(); ocorrencia = {}"
            class="btn btn-success btn-rounded waves-effect waves-light addContact-modal mb-2"
          >
            <i class="mdi mdi-plus me-1"></i> Novo Ocorrencia
          </button>

          <button style="margin-left: 3px;"
          type="button"
          data-bs-toggle="modal"
          (click)="exportarExcel() "
          class="btn btn-info btn-rounded waves-effect waves-light addContact-modal mb-2"
        >
          <i class="mdi mdi-plus me-1"></i> Exportar Relatório
        </button>
        </div>
      </div>
      <!-- end col-->
    </div>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-lg-4 mb-3">
                  <label for="formrow-firstname-input"
                    >Nome, NDI, ou Telefone
                  </label>
                  <input
                    [(ngModel)]="filtro.name_code"
                    type="text"
                    name="codigo"
                    class="form-control"
                    id="formrow-firstname-input"
                    placeholder="Nome, NDI, ou Telefone"
                  />
                </div>


 
        
        
                    <div class="col-lg-4 mb-3">
                        <label class="form-label"
                          >Tipo de Ocorrencia<span class="text-danger">*</span>
                        </label>
                        <ng-select
                          [items]="tipo_ocorrencias"
                          name="tipo_ocorrencia"
                          bindLabel="nome"
                          bindValue="id"
                         
                          [(ngModel)]="filtro.ocorrencia_tipo_id"
                        >
                        </ng-select>
                      </div>
          
                      <div class="col-lg-2 mb-3">
                        <label class="form-label"
                          >Estado <span class="text-danger">*</span>
                        </label>
                        <ng-select
                          [items]="estados_ocorrencias"
                          name="estados_ocorrencia"
                          bindLabel="nome"
                          bindValue="id"
                          value="ocorrencia.ocorrencia_estado_id"
                          placeholder="-- seleciona uma opção --"
                          [(ngModel)]="filtro.ocorrencia_estado_id"
                          value="ocorrencia.gd_ocorrencia_acesso_id"
                        >
                        </ng-select>
                      </div>
          
                   
                      <div class="col-lg-2 mb-3">
                        <label class="form-label"> Via Comunicação <span class="text-danger">*</span> </label>
                        <ng-select
                          [items]="via_tramissao_ocorrencias"
                          name="via_tramissao_ocorrencia"
                          bindLabel="nome"
                          bindValue="id"
                          value="ocorrencia.ocorrencia_via_transmissao_id"
                          placeholder="-- seleciona uma opção --"
                          [(ngModel)]="filtro.ocorrencia_via_transmissao_id"
                          value="ocorrencia.ocorrencia_via_transmissao_id"
                          placeholder="-- seleciona uma opção --">
                        </ng-select>
                      </div> 

                      <div class="col-lg-4 mb-3">
                
                          <label class="form-label"
                            >Provincia<span class="text-danger">*</span>
                          </label>
                          <ng-select
                            [items]="provincias"
                            name="provincias"
                            bindLabel="nome"
                            bindValue="id"
                            placeholder="-- seleciona uma opção --"
                            [(ngModel)]="filtro.base_provincia_id"
                          >
                          </ng-select>
                      </div>
          
                      <div class="col-lg-4 mb-3">
              
                        <label class="form-label"
                          >Municipio <span class="text-danger">*</span>
                        </label>
                        <ng-select
                          [items]="municipios"
                          name="municipios"
                          bindLabel="nome"
                          bindValue="id"
                          value="ocorrencia.ocorrencia_estado_id"
                          placeholder="-- seleciona uma opção --"
                          [(ngModel)]="filtro.base_municipio_id"
                          value="ocorrencia.gd_ocorrencia_acesso_id"
                        >
                        </ng-select>
                      </div>
          
               
                      <div class="col-lg-2 mb-3">
              
                        <label class="form-label"
                          >Data de Inicio  <span class="text-danger">*</span>
                        </label>
                        <input   [(ngModel)]="filtro.data_inicio"
                        type="date"    name="codigo"   class="form-control"  id="formrow-firstname-input"
                        placeholder="Nome, NDI, ou Telefone"   />
                      </div>
                      <div class="col-lg-2 mb-3">
              
                        <label class="form-label"
                          >Data de Fim  <span class="text-danger">*</span>
                        </label>
                        <input   [(ngModel)]="filtro.data_fim"
                        type="date"    name="codigo"   class="form-control"  id="formrow-firstname-input"
                        placeholder="Nome, NDI, ou Telefone"   />
                      </div>
  
                <div class="col-lg-1 mt-4">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="pesquisar()"
                  >
                    Pesquisar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- end select2 -->
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div class="d-flex flex-row-reverse bd-highlight mb-2">
                <div class="p-0 bd-highlight">
                  <select
                    (change)="onTableSizeChange($event)"
                    class="form-select"
                  >
                    <option *ngFor="let size of tableSizes" [ngValue]="size">
                      {{ size }}
                    </option>
                  </select>
                </div>
              </div>
  
              <table class="table table-sm table-bordered table-hover">
                <thead class="table-info">
                  <tr>
                    <th>Item</th>
                    <th>Pessoa</th>
                    <th>Descrição</th>
                    <th>NDI</th>
                    <th>Provincia</th>
                    <th>Municipio</th>
                    <th>Natureza da ocorrência</th>
                    <th>Estado</th>
                    <th>Acção</th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr
                    *ngFor="
                      let data of ocorrencias
                        | paginate
                          : {
                              itemsPerPage: filtro.pagesize,
                              currentPage: filtro.page,
                              totalItems: filtro.total_itens
                            }
                    "
                  >
                    <td>{{ data?.id }}</td>
  
                    <td>{{ data?.pessoa_nome }}</td>
                    <td>{{ data?.descricao.substring(0, 50) }}</td>
  
                    <td>{{ data?.ndi }}</td>
                    <td>{{ data?.baseProvincias?.nome }}</td>
                    <td>{{ data?.baseMunicipios?.nome }}</td>
                    <td>
                      <span *ngIf="data?.ocorrencia_natureza === 1">Particular</span>
                      <span *ngIf="data?.ocorrencia_natureza === 2">Empresa</span>
                    </td>
  
                    <td
                      class="text-white"
                      [ngStyle]="{
                        'background-color': data?.ocorrenciasEstados?.cor
                      }"
                    >
                      {{ data?.ocorrenciasEstados?.nome                    }}
                    </td>
  
                    <td>
                      <div dropdown class="dropdown">
                        <a
                          dropdownToggle
                          href="javascript: void(0);"
                          class="dropdown-toggle card-drop px-2 show"
                          aria-expanded="true"
                        >
                          <i class="mdi mdi-dots-horizontal font-size-18"></i>
                        </a>
                        <ul
                          *dropdownMenu
                          class="dropdown-menu dropdown-menu-end show"
                          style="
                            position: absolute;
                            inset: 0px 0px auto auto;
                            margin: 0px;
                            transform: translate(0px, 31.25px);
                          "
                          placement="bottom-end"
                        >
                        
                        <li>
                          <a
                            href="javascript:void(0);"
                            (click)="ficha(data)"
                            class="dropdown-item   "
                            data-edit-id="8"
                            ><i
                              class="bx bxs-file-pdf  font-size-16 text-info me-1"
                            ></i>
                            Ficha</a
                          >
                        </li>
                          <li>
                            <a
                              href="javascript:void(0);"
                              (click)="editar(data)"
                              class="dropdown-item edit-list"
                              data-edit-id="8"
                              ><i
                                class="mdi mdi-pencil font-size-16 text-success me-1"
                              ></i>
                              Editar</a
                            >
                          </li>
  
                          <li>
                            <a
                              href="javascript:void(0);"
                              (click)="removeUser(data.id)"
                              class="dropdown-item remove-list"
                              data-remove-id="8"
                              ><i
                                class="mdi mdi-trash-can font-size-16 text-danger me-1"
                              ></i>
                              Delete</a
                            >
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p class="mt-3">
                Total: <b>{{ filtro.total_itens }}</b>
              </p>
  
              <div
                class="pagination pagination-rounded justify-content-center mt-4"
              >
                <pagination-controls
                  [responsive]="true"
                  previousLabel="Anterior"
                  nextLabel="Próximo"
                  (pageChange)="onTableDataChange($event)"
                >
                </pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  
  <!-- Modal -->
  <div
    bsModal
    #modalFormulario="bs-modal"
    class="modal fade"
    id="modalFormulario"
    tabindex="-1"
    aria-labelledby="modalFormulario"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newContactModalLabel">
            Cadastrar Ocorrência
          </h5>
          <button
            type="button"
            class="btn-close"
            (click)="modalFormulario.hide()"
          ></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="save()" [formGroup]="momentForm" #formDir="ngForm">
            <div class="row mb-3">
              <div class="col-md-3">
                <label class="form-label"
                  >Tipo de ocorrencia<span class="text-danger">*</span>
                </label>
                <ng-select
                  [items]="tipo_ocorrencias"
                  name="ocorrencia_tipo_id"
                  bindLabel="nome"
                  bindValue="id"
                  placeholder="-- seleciona uma opção --"
                  [(ngModel)]="ocorrencia.ocorrencia_tipo_id"
                  formControlName="ocorrencia_tipo_id"
                >
                </ng-select>
                <div
                  *ngIf="ocorrencia_tipo_id.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p
                    *ngIf="ocorrencia_tipo_id.errors?.['required']"
                    class="text-error"
                  >
                    Campo obrigatório.
                  </p>
                </div>
              </div>
  
              <div class="col-md-3">
                <label class="form-label"
                  >Via Transmissão<span class="text-danger">*</span></label
                >
                <ng-select
                  [items]="via_tramissao_ocorrencias"
                  name="ocorrencia_via_transmissao_id"
                  bindLabel="nome"
                  bindValue="id"
                  placeholder="-- seleciona uma opção --"
                  [(ngModel)]="ocorrencia.ocorrencia_via_transmissao_id"
                  formControlName="ocorrencia_via_transmissao_id"
                >
                  <!-- [class.input-valid]="
                    ocorrencia_via_transmissao_id.valid &&
                    (ocorrencia_via_transmissao_id.dirty ||
                      ocorrencia_via_transmissao_id.touched)
                  "
                  [class.input-invalid]="
                    ocorrencia_via_transmissao_id.invalid &&
                    (ocorrencia_via_transmissao_id.dirty ||
                      ocorrencia_via_transmissao_id.touched)
                  " -->
                </ng-select>
                <div
                  *ngIf="
                    ocorrencia_via_transmissao_id.invalid && formDir.submitted
                  "
                  class="validation-error"
                >
                  <p
                    *ngIf="ocorrencia_via_transmissao_id.errors?.['required']"
                    class="text-error"
                  >
                    Campo obrigatório.
                  </p>
                </div>
              </div>
  
              <div class="col-md-3">
                <label class="form-label"
                  >Natureza da ocorrência<span class="text-danger">*</span>
                </label>
                <ng-select
                  [items]="natureza_ocorrencia"
                  name="ocorrencia_natureza"
                  bindLabel="nome"
                  bindValue="id"
                  placeholder="-- seleciona uma opção --"
                  [(ngModel)]="ocorrencia.ocorrencia_natureza"
                  formControlName="ocorrencia_natureza"
                >
                </ng-select>
                <div
                  *ngIf="ocorrencia_natureza.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p
                    *ngIf="ocorrencia_natureza.errors?.['required']"
                    class="text-error"
                  >
                    Campo obrigatório.
                  </p>
                </div>
              </div>
  
              <div class="col-md-3">
                <label class="form-label"
                  >Estado <span class="text-danger">*</span>
                </label>
                <ng-select
                  [items]="estadoList"
                  name="ocorrencia_estado_id"
                  bindLabel="nome"
                  bindValue="id"
                  placeholder="-- seleciona uma opção --"
                  [(ngModel)]="ocorrencia.ocorrencia_estado_id"
                  formControlName="ocorrencia_estado_id"
                >
                </ng-select>
                <div
                  *ngIf="ocorrencia_estado_id.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p
                    *ngIf="ocorrencia_estado_id.errors?.['required']"
                    class="text-error"
                  >
                    Campo obrigatório.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="row mb-3">
              <div class="col-md-3">
                <label class="form-label" for="remetente"
                  >Nome <span class="text-danger">*</span></label
                >
                <input
                  id="pessoa_nome"
                  minlength="2"
                  maxlength="255"
                  type="text"
                  class="form-control"
                  placeholder="Escreva o remetente"
                  name="pessoa_nome"
                  [(ngModel)]="ocorrencia.pessoa_nome"
                  formControlName="pessoa_nome"
                />
                <div
                  *ngIf="pessoa_nome.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p *ngIf="pessoa_nome.errors?.['required']" class="text-error">
                    Campo obrigatório.
                  </p>
  
                  <p *ngIf="pessoa_nome.errors?.minlength" class="text-error">
                    O campo deve conter no mínimo 2 caracteres.
                  </p>
  
                  <p *ngIf="pessoa_nome.errors?.['maxlength']" class="text-error">
                    O campo deve conter no máximo 255 caracteres.
                  </p>
                </div>
              </div>
  
              <div class="col-md-3">
                <label class="form-label" for="remetente"
                  >Ndi <span class="text-danger">*</span></label
                >
                <input
                  id="ndi"
                  type="text "
                  class="form-control"
                  placeholder="Escreva o remetente"
                  name="ndi"
                  [(ngModel)]="ocorrencia.ndi"
                  formControlName="ndi"
                />
                <div
                  *ngIf="ndi.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p *ngIf="ndi.errors?.['required']" class="text-error">
                    Campo obrigatório.
                  </p>
  
                  <p *ngIf="ndi.errors?.['minlength']" class="text-error">
                    O campo deve conter exatamente 12 caracteres.
                  </p>
  
                  <p *ngIf="ndi.errors?.['maxlength']" class="text-error">
                    O campo deve conter exatamente 12 caracteres.
                  </p>
                </div>
              </div>
  
              <div class="col-md-3">
                <label class="form-label"
                  >Provincia <span class="text-danger">*</span>
                </label>
                <ng-select
                  [items]="provincias"
                  name="base_provincia_id"
                  bindLabel="nome"
                  bindValue="id"
                  placeholder="-- seleciona uma opção --"
                  [(ngModel)]="ocorrencia.base_provincia_id"
                  formControlName="base_provincia_id"
                >
                </ng-select>
                <div
                  *ngIf="base_provincia_id.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p
                    *ngIf="base_provincia_id.errors?.['required']"
                    class="text-error"
                  >
                    Campo obrigatório.
                  </p>
                </div>
              </div>
  
              <div class="col-md-3">
                <label class="form-label"
                  >Municipio<span class="text-danger">*</span></label
                >
                <ng-select
                  [items]="municipios"
                  name="ocorrencia.base_municipio_id"
                  bindLabel="nome"
                  bindValue="id"
                  placeholder="-- seleciona uma opção --"
                  [(ngModel)]="ocorrencia.base_municipio_id"
                  formControlName="base_municipio_id"
                >
                </ng-select>
  
                <div
                  *ngIf="base_municipio_id.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p
                    *ngIf="base_municipio_id.errors?.['required']"
                    class="text-error"
                  >
                    Campo obrigatório.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="row mb-3">
              <div class="col-md-12">
                <label class="form-label" for="assunto"
                  >Descrição <span class="text-danger">*</span></label
                >
                <textarea
                  id="descricao"
                  type="text "
                  placeholder="Escreva a descrição"
                  class="form-control"
                  name="descricao "
                  [(ngModel)]="ocorrencia.descricao"
                  formControlName="descricao"
                >
  
                <!-- [class.input-valid]="
                descricao.valid && (descricao.dirty || descricao.touched)
              "
              [class.input-invalid]="
                descricao.invalid && (descricao.dirty || descricao.touched)
              " -->
  
                </textarea>
                <div
                  *ngIf="descricao.invalid && formDir.submitted"
                  class="validation-error"
                >
                  <p *ngIf="descricao.errors?.['required']" class="text-error">
                    Campo obrigatório.
                  </p>
  
                  <p *ngIf="descricao.errors?.['minlength']" class="text-error">
                    O campo deve conter no mínimo 2 caracteres.
                  </p>
  
                  <p *ngIf="descricao.errors?.['maxlength']" class="text-error">
                    O campo deve conter no máximo 65535 caracteres.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-secondary me-1"
                (click)="modalFormulario.hide()"
              >
                Cancelar
              </button>
              <button type="submit" id="addContact-btn" class="btn btn-success">
                Salvar
              </button>
              <!-- end modal-content -->
            </div>
  
       
  
            <!-- Row -->
          </form>
        </div>
        <!-- end modal body -->
      </div>
  
      <!-- end modal-dialog -->
    </div>
  </div>
  
  <div
    bsModal
    #removeItemModal="bs-modal"
    class="modal fade"
    id="removeItemModal"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-body px-4 py-5 text-center">
          <button
            type="button"
            class="btn-close position-absolute end-0 top-0 m-3"
            (click)="removeItemModal.hide()"
          ></button>
          <div class="avatar-sm mb-4 mx-auto">
            <div
              class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3"
            >
              <i class="mdi mdi-trash-can-outline"></i>
            </div>
          </div>
          <p class="text-muted font-size-16 mb-4">
            Are you Sure You want to Remove this User ?
          </p>
  
          <div class="hstack gap-2 justify-content-center mb-0">
            <button type="button" class="btn btn-danger me-1" id="remove-item">
              Remove Now
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              (click)="removeItemModal.hide()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
   