<div class="container-fluid">
  <app-page-title
    title="Gerir Gestores de actividade"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="d-flex justify-content-end mb-2">
    <div class="search-box me-2 mb-2 d-inline-block">
      <a
        (click)="openModal(false)"
        href="javascript: void(0);"
        class="bg-primary d-flex justify-content-center"
        style="height: 40px; width: 40px; border-radius: 100%"
      >
        <i
          class="bx bx-plus-medical font-size-16 text-white align-middle align-self-center"
        ></i>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-lg-2">
                <label class="form-label"
                  >Gestor <span class="text-danger">*</span></label
                >
                <ng-select
                  [items]="users"
                  name="register"
                  bindLabel="nome"
                  bindValue="id"
                  [(ngModel)]="filtro.register"
                >
                </ng-select>
              </div>
              <div class="col-lg-2">
                <label class="form-label"
                  >Responsável <span class="text-danger">*</span></label
                >
                <ng-select
                  [items]="users"
                  name="responsavel"
                  bindLabel="nome"
                  bindValue="id"
                  [(ngModel)]="filtro.responsavel"
                >
                </ng-select>
              </div>
              <div class="col-lg-2">
                <label class="form-label"
                  >Actividade <span class="text-danger">*</span></label
                >
                <ng-select
                  [items]="actividades"
                  name="actividade"
                  bindLabel="nome"
                  bindValue="id"
                  [(ngModel)]="filtro.actividade"
                >
                </ng-select>
              </div>
              <div class="col-lg-2">
                <label class="form-label">Estado</label>
                <select
                  class="form-control"
                  [(ngModel)]="filtro.estado"
                  placeholder="-- seleciona uma opção --"
                >
                  <option value="0">Inativo</option>
                  <option value="1">Ativo</option>
                </select>
              </div>
              <div class="col-lg-2 d-flex align-self-end mt-3">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="pesquisar()"
                >
                  Pesquisar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- end select2 -->
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <div class="d-flex flex-row-reverse bd-highlight mb-2">
              <div class="p-0 bd-highlight">
                <select
                  (change)="onTableSizeChange($event)"
                  class="form-select"
                >
                  <option *ngFor="let size of tableSizes" [ngValue]="size">
                    {{ size }}
                  </option>
                </select>
              </div>
            </div>

            <table class="table table-sm table-bordered table-hover">
              <thead class="table-info">
                <tr>
                  <th>Item</th>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Actividade</th>
                  <th>Estado</th>
                  <th>Acção</th>
                </tr>
              </thead>
              <tbody class="">
                <tr
                  *ngFor="
                    let data of gestor_users
                      | paginate
                        : {
                            itemsPerPage: filtro.pagesize,
                            currentPage: filtro.page,
                            totalItems: filtro.total_itens
                          }
                  "
                >
                  <td>{{ data?.id }}</td>
                  <td>{{ data?.responsavel_user?.nome }}</td>
                  <td>{{ data?.responsavel_user?.email }}</td>
                  <td>{{ data?.actividade?.nome }}</td>
                  <td>{{ data?.estado == "0" ? "Inativo" : "Ativo" }}</td>
                  <td>
                    <div dropdown class="dropdown">
                      <a
                        dropdownToggle
                        href="javascript: void(0);"
                        class="dropdown-toggle card-drop px-2 show"
                        aria-expanded="true"
                      >
                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                      </a>
                      <ul
                        *dropdownMenu
                        class="dropdown-menu dropdown-menu-end show"
                        style="
                          position: absolute;
                          inset: 0px 0px auto auto;
                          margin: 0px;
                          transform: translate(0px, 31.25px);
                        "
                        placement="bottom-end"
                      >
                        <li>
                          <a
                            href="javascript:void(0);"
                            (click)="editUser(data, true)"
                            class="dropdown-item edit-list"
                            data-edit-id="8"
                            ><i
                              class="mdi mdi-pencil font-size-16 text-success me-1"
                            ></i>
                            Editar</a
                          >
                        </li>
                        <li *ngIf="data?.estado === 1">
                          <a
                            href="javascript:void(0);"
                            (click)="questionsToremoveItem(data, 'remove')"
                            class="dropdown-item remove-list"
                            data-remove-id="8"
                            ><i
                              class="mdi mdi-trash-can font-size-16 text-danger me-1"
                            ></i>
                            Deletar</a
                          >
                        </li>

                        <li *ngIf="data?.estado === 0">
                          <a
                            href="javascript:void(0);"
                            (click)="questionsToremoveItem(data, 'recover')"
                            class="dropdown-item remove-list"
                            data-remove-id="8"
                          >
                            <i
                              class="mdi mdi-recycle font-size-16 text-success me-1"
                            ></i>
                            Recuperar</a
                          >
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="mt-3">
              Total: <b>{{ filtro.total_itens }}</b>
            </p>

            <div
              class="pagination pagination-rounded justify-content-center mt-4"
            >
              <pagination-controls
                [responsive]="true"
                previousLabel="Anterior"
                nextLabel="Próximo"
                (pageChange)="onTableDataChange($event)"
              >
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<!-- Modal -->
<div
  bsModal
  #newDocumentModal="bs-modal"
  class="modal fade"
  id="newContactModal"
  tabindex="-1"
  aria-labelledby="newDocumentModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newDocumentModal">
          {{ editar ? "Editar" : "Novo" }}
          Gestores de Actividade
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="newDocumentModal.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="save()" [formGroup]="momentForm" #formDir="ngForm">
          <div class="row mb-3">
            <div class="col-md-12">
              <label class="form-label"
                >Responsável <span class="text-danger">*</span></label
              >
              <ng-select
                [items]="users"
                name="responsavel"
                bindLabel="nome"
                bindValue="id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="gestor_user.responsavel"
                formControlName="responsavel"
              >
              </ng-select>
              <div
                *ngIf="responsavel.invalid && formDir.submitted"
                class="validation-error"
              >
                <p *ngIf="responsavel.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>
              </div>
            </div>
            <!-- <div class="col-md-12">
              <label class="form-label"
                >Nome <span class="text-danger">*</span></label
              >
              <input
                type="text "
                class="form-control"
                placeholder="Escreva o nome"
                name="nome"
                [(ngModel)]="gestor_user.nome"
                formControlName="nome"
              />
              <div
                *ngIf="nome.invalid && formDir.submitted"
                class="validation-error"
              >
                <div *ngIf="nome.errors?.pattern" class="text-error">
                  O nome não pode conter apenas espaços em branco.
                </div>

                <p *ngIf="nome.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>

                <p *ngIf="nome.errors?.minlength" class="text-error">
                  O campo deve conter no mínimo 2 caracteres.
                </p>

                <p *ngIf="nome.errors?.maxlength" class="text-error">
                  O campo deve conter no máximo 255 caracteres.
                </p>
              </div>
            </div> -->
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label"
                >Actividade <span class="text-danger">*</span></label
              >
              <ng-select
                [items]="actividades"
                name="actividade"
                bindLabel="nome"
                bindValue="id"
                placeholder="-- seleciona uma opção --"
                [(ngModel)]="gestor_user.actividade_id"
                formControlName="actividade_id"
              >
              </ng-select>
              <div
                *ngIf="actividade_id.invalid && formDir.submitted"
                class="validation-error"
              >
                <p
                  *ngIf="actividade_id.errors?.['required']"
                  class="text-error"
                >
                  Campo obrigatório.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label"
                >Estado:<span class="text-danger">*</span></label
              >
              <select
                class="form-control"
                [(ngModel)]="gestor_user.estado"
                formControlName="estado"
                placeholder="-- seleciona uma opção --"
              >
                <option value="0">Inativo</option>
                <option value="1">Ativo</option>
              </select>
              <div
                *ngIf="estado.invalid && formDir.submitted"
                class="validation-error"
              >
                <p *ngIf="estado.errors?.['required']" class="text-error">
                  Campo obrigatório.
                </p>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary me-1"
              (click)="newDocumentModal.hide()"
            >
              Cancelar
            </button>
            <button type="submit" id="addContact-btn" class="btn btn-success">
              Salvar
            </button>
            <!-- end modal-content -->
          </div>
          <!-- Row -->
        </form>
      </div>
      <!-- end modal body -->
    </div>

    <!-- end modal-dialog -->
  </div>
</div>

<div
  bsModal
  #removeItemModal="bs-modal"
  class="modal fade"
  id="removeItemModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body px-4 py-5 text-center">
        <button
          type="button"
          class="btn-close position-absolute end-0 top-0 m-3"
          (click)="removeItemModal.hide()"
        ></button>
        <div class="avatar-sm mb-4 mx-auto">
          <div
            class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3"
          >
            <i class="mdi mdi-trash-can-outline"></i>
          </div>
        </div>
        <p class="text-muted font-size-16 mb-4">
          Tem a certeza que deseja
          {{ recoverOrRemoveItem === "recover" ? "recuperar" : "remover" }}
          este ítem?
        </p>

        <div class="hstack gap-2 justify-content-center mb-0">
          <button
            type="button"
            (click)="removeItem()"
            [ngClass]="
              recoverOrRemoveItem === 'recover'
                ? 'btn btn-success me-1'
                : 'btn btn-danger me-1'
            "
            id="remove-item"
          >
            {{ recoverOrRemoveItem === "recover" ? "Recuperar" : "Remover" }}
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="removeItemModal.hide()"
          >
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
